Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

Revert "Merge pull request #823 from einSelbst/renovate/react-18.x"
  package.json
  pnpm-lock.yaml
Labels: Config

deps: minor updates to lockfile
  pnpm-lock.yaml
Labels: Config

deps: upgrade many
  next.config.js
  package.json
  pnpm-lock.yaml
Labels: Config

feat: update terms
  README.md
  README.template.md
  terms.jsonc
Labels: Config, Documentation

feat: enable experimental browserlist feature
  next.config.js
Labels: Config

wip: some fixes
  .eslintrc.yml
  next-sitemap.js
  package.json
  pnpm-lock.yaml
Labels: Config

deps: add @next/env because next-sitemap complains
  package.json
  pnpm-lock.yaml
Labels: Config

fix: rename next-sitemap config
  next-sitemap.config.js
Labels: Config

ci: unignore renamed config file for sitemap on vercel
  .vercelignore
Labels: Config

ci: update netlify build command
  netlify.toml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

deps: lock file maintenance
  pnpm-lock.yaml
Labels: Config

deps: add outdated dep for eslint-plugin-compat
  package.json
  pnpm-lock.yaml
Labels: Config

deps: vulnerabilties seem to be fixed
  package.json
  pnpm-lock.yaml
Labels: Config

ci: dont use pnpm on netlify
  netlify.toml
Labels: Config

chore(deps): update dependency cypress to v10
  package.json
Labels: Config

test: migrate cypress config to v10
  cypress.config.ts
  cypress.json
  cypress/support/e2e.js
Labels: Config

test: add cypress component testing basics
  cypress.config.ts
  cypress/component/ComponentName.cy.ts
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
Labels: Config

test: rename cypress default spec folder
  cypress/e2e/examples/actions.spec.js
  cypress/e2e/examples/aliasing.spec.js
  cypress/e2e/examples/assertions.spec.js
  cypress/e2e/examples/connectors.spec.js
  cypress/e2e/examples/cookies.spec.js
  cypress/e2e/examples/cypress-api.spec.js
  cypress/e2e/examples/files.spec.js
  cypress/e2e/examples/local-storage.spec.js
  cypress/e2e/examples/location.spec.js
  cypress/e2e/examples/misc.spec.js
  cypress/e2e/examples/navigation.spec.js
  cypress/e2e/examples/network-requests.spec.js
  cypress/e2e/examples/querying.spec.js
  cypress/e2e/examples/spies-stubs-clocks.spec.js
  cypress/e2e/examples/traversal.spec.js
  cypress/e2e/examples/utilities.spec.js
  cypress/e2e/examples/viewport.spec.js
  cypress/e2e/examples/waiting.spec.js
  cypress/e2e/examples/window.spec.js
  cypress/e2e/smoke/first.js
Labels: none

style: fix linter issues in new cypress stuff
  .eslintrc.yml
  cypress.config.ts
  cypress/component/component-name.cy.ts
  cypress/plugins/index.js
  cypress/support/component.ts
Labels: Config

wip: wip
  src/layouts/account-settings.layout.tsx
  src/pages/_app.tsx
  src/pages/dog.tsx
  src/typings/layout.d.ts
  src/typings/next-themes.d.ts
Labels: Core

Revert "wip: wip"
  src/layouts/account-settings.layout.tsx
  src/pages/_app.tsx
  src/pages/dog.tsx
  src/typings/layout.d.ts
  src/typings/next-themes.d.ts
Labels: Core

style: relax cypress config linting
  cypress/support/component.ts
Labels: none

style: upgrade textlint
  package.json
  pnpm-lock.yaml
Labels: Config

deps: fix cypress duplicate, upgrade jsx
  package.json
  pnpm-lock.yaml
Labels: Config

deps: one does not just use 'latest'
  package.json
  pnpm-lock.yaml
Labels: Config

ci: ignore test coverage, broken
  .github/workflows/basics.yml
  cypress/support/component-index.html
Labels: Automation

style: fixes
  .github/workflows/basics.yml
  cypress/support/component.ts
Labels: Automation

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

style: reorder imports, whyever
  src/components/layout/navigation.tsx
  src/pages/_app.tsx
  src/pages/account-settings/basic-information.tsx
  src/pages/account-settings/billing.tsx
  src/pages/account-settings/notifications.tsx
  src/pages/account-settings/profile.tsx
  src/pages/account-settings/security.tsx
  src/pages/account-settings/team-settings.tsx
  src/pages/api/add-show.ts
  src/pages/api/get-shows.ts
  src/pages/api/update-show.ts
  src/pages/dog.tsx
  src/pages/fauna-csr.tsx
  src/pages/fauna-ssg.tsx
  src/pages/legal/[topic].tsx
  src/pages/legal/index.tsx
  test/test-utils.ts
Labels: Core, API

style: allow react property jsx and global
  .eslintrc.yml
Labels: Config

test: downgrade cypress to circumvent hanging
  package.json
  pnpm-lock.yaml
Labels: Config

fix: ignore sitemap, needs rebuild anyway
  .gitignore
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

test: downgrade cypress to 10.5.0
  package.json
  pnpm-lock.yaml
Labels: Config

ci: disable test running, cypress broken
  .github/workflows/basics.yml
  package.json
Labels: Config, Automation

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore: revert testing-library update
  package.json
  pnpm-lock.yaml
Labels: Config

ci: fix vercel preview url for lighthouse
  .github/workflows/lighthouse-on-vercel-preview.yml
Labels: Automation

deps: update testing library again
  package.json
  pnpm-lock.yaml
Labels: Config
