Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

fix: restore linter config, my deps were outdated
  test/test-utils.ts
Labels: none

docs: update script info
  README.md
  package.json
Labels: Config, Documentation

fix: typo in PR description
  .github/workflows/auto-create-pr.yml
Labels: Automation

fix(ci): size action wrong input name
  .github/workflows/compressed-size.yml
Labels: Automation

ci: add some info to new prs
  .github/workflows/auto-create-pr.yml
Labels: Automation

fix: would need to use a script from package json here but think it's not needed
  .github/workflows/compressed-size.yml
Labels: Automation

ci: increase size limits
  .size-limit.json
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix(ci): try to use preinstall script to update npm lock file
  .github/workflows/compressed-size.yml
Labels: Automation

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/eslint to v7.28.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/eslint to v7.28.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.140
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.140
  package.json
  pnpm-lock.yaml
Labels: Config

style: improve html
  src/pages/fauna-1.tsx
Labels: Core

feat: add fauna test page to navigation menu
  src/components/layout/navigation.tsx
Labels: Core

feat: add fauna api client
  src/lib/fauna.ts
Labels: Core

deps(db): install faunadb helper lib
  package.json
  pnpm-lock.yaml
Labels: Config

feat: add api endpoint to get data from faunadb
  src/pages/api/get-shows.ts
Labels: Core, API

feat: add example page which shows data from faunadb
  src/pages/fauna-1.tsx
Labels: Core

chore: git-ignore fauna credential file
  .gitignore
Labels: Config

style: improve linter config
  .eslintrc.yml
Labels: Config

style: allow void as function statement
  .eslintrc.yml
  src/components/helper/axe.tsx
Labels: Config, Core

feat(db): add api endpoints to create / update shows
  src/pages/api/add-show.ts
  src/pages/api/update-show.ts
  src/pages/fauna-1.tsx
Labels: Core, API

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Labels: Config, Documentation

style: rename file to 'fauna-client'
  src/lib/fauna-client.ts
  src/pages/api/add-show.ts
  src/pages/api/get-shows.ts
  src/pages/api/update-show.ts
Labels: Core, API

ci(fix): use slightly different ignore command on netlify
  netlify.toml
Labels: Config

wip: try to fix link check
  netlify.toml
Labels: Config

test: add hyperlink package to check link integrity
  package.json
  pnpm-lock.yaml
Labels: Config

ci: increase load time limit , I think this metric might be useless
  .size-limit.json
Labels: Config

style: format changelog
  CHANGELOG.md
Labels: Config, Documentation

ci(netlify): check links on preview
  netlify.toml
Labels: Config

ci(netlify): by the time the link check runs the app is not yet deployed
  .eslintrc.yml
  netlify.toml
Labels: Config

ci(netlify): ignore some links in check
  netlify.toml
Labels: Config

chore: update lock-file
  pnpm-lock.yaml
Labels: Config

docs: update script info
  README.md
  src/components/layout/theme-changer.tsx
Labels: Config, Core, Documentation

docs(changelog): disable markdown linter heading rule
  CHANGELOG.md
Labels: Config, Documentation

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
