Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

feat: add link to amplify
  src/components/layout/footer.tsx
Labels: Core

wip: improve rendering of hoster in footer
  next.config.js
  src/components/layout/footer.tsx
  src/config/env.config.ts
Labels: Config, Core

style: prettier put jsx bracket on same line
  .prettierrc.json5
  src/components/layout/theme-changer.tsx
  src/layouts/account-settings.layout.tsx
  src/layouts/inline.layout.tsx
  src/pages/account-settings/basic-information.tsx
  src/pages/account-settings/billing.tsx
  src/pages/account-settings/notifications.tsx
  src/pages/account-settings/profile.tsx
  src/pages/account-settings/security.tsx
  src/pages/account-settings/team-settings.tsx
  src/pages/dog.tsx
  src/pages/index.tsx
Labels: Config, Core

feat: make use of typed-query-selector
  src/pages/hybrid/one.tsx
Labels: Core

style: fix issue in netlify.toml
  netlify.toml
Labels: Config

style: fine tune ordering of jsx props
  .eslintrc.yml
  src/components/layout/theme-changer.tsx
  src/layouts/default.layout.tsx
  src/layouts/legal.layout.tsx
  src/pages/index.tsx
Labels: Config, Core

wip: center some logos, still experimenting here
  src/components/layout/footer.tsx
Labels: Core

ui: update hoster logos
  public/logos/aws-amplify-logo.png
  public/logos/netlify-logo-dark.png
  public/logos/netlify-logo-dark.svg
  public/logos/netlify-logo-light.png
  public/logos/netlify-logo-light.svg
  public/logos/vercel-logo.svg
Labels: none

dx: use eslint_d to speed up linting
  README.md
  package.json
Labels: Config, Documentation

dx: let linter fix again on validation
  package.json
Labels: Config

deps: install typed-query-selector
  package.json
  pnpm-lock.yaml
Labels: Config

refactor: extract common structure
  src/components/layout/footer.tsx
Labels: Core

fix: can not use env.config file, is evaluated at runtime
  src/config/env.config.ts
Labels: Core

fix(deps): update dependency tailwindcss to v2.2.1
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency tailwindcss to v2.2.1
  package.json
  pnpm-lock.yaml
Labels: Config

wip: cleanup
  next.config.js
  src/components/layout/footer.tsx
  src/config/env.config.ts
Labels: Config, Core

fix(deps): update dependency tailwindcss to v2.2.2
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency tailwindcss to v2.2.2
  package.json
  pnpm-lock.yaml
Labels: Config

chore: cleanup lockfile
  README.md
  pnpm-lock.yaml
Labels: Config, Documentation

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.0.40
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.0.40
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency core-js to v3.15.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency core-js to v3.15.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.0.41
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.0.41
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.40.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.40.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies to v4.28.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies to v4.28.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @babel/preset-env to v7.14.7
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @babel/preset-env to v7.14.7
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.0.42
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.0.42
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies to v27.0.5
  package.json
  pnpm-lock.yaml
Labels: Config
