Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.33
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

dx: fix and improve size-limit check
  .size-limit.json
  package.json
  pnpm-lock.yaml
Labels: Config

dx: run package scripts in parallel
  package.json
Labels: Config

ci: pnpm on netlify (again)
  netlify.toml
Labels: Config

fix: vulnerabilities
  .gitignore
  package.json
  pnpm-lock.yaml
Labels: Config

test: update size-limits
  .size-limit.json
  postcss.config.js
Labels: Config

test: update jest config to work without babel
  jest.config.js
  jest.setup.js
  package.json
  pnpm-lock.yaml
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Config

dx: add types for testing lib/ jest dom
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

wip: remove babel stuff, breaks browserlist? and coverage?
  babel.config.js
  package.json
  pnpm-lock.yaml
Labels: Config

deps: pin dependency
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-jest to v26
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-jest to v26
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v40
  package.json
  pnpm-lock.yaml
Labels: Config

style: allow empty files, helps me I'm still a beginner
  .eslintrc.yml
Labels: Config

ci: skip buiilds on netlify again
  netlify.toml
Labels: Config

deps: pin dependency
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v38
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v39
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.39
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.39
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @sentry/nextjs to v6.17.2
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @sentry/nextjs to v6.17.2
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.40
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.40
  package.json
  pnpm-lock.yaml
Labels: Config

ci: re-enable eslint-plus action
  .github/workflows/eslint.yml
Labels: Automation

ci: don't skip eslint-plus, prejob strange
  .github/workflows/eslint.yml
Labels: Automation

ci(style): github checker now includes yamllint, this fixes some errors
  .eslintrc.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/detect-secrets.yml
  .yamllint
Labels: Config, Automation

fix: package.json to reduce vulnerabilities
  package.json
Labels: Config

style: improve linter and error formatter
  .stylelintrc.yml
  package.json
  pnpm-lock.yaml
  src/styles/global.scss
Labels: Config, Core

build: remove typescript config which is not needed without emit
  package.json
  tsconfig.json
Labels: Config

dx: don't open statoscope all the time
  package.json
Labels: Config

wip: improve typings a bit
  src/pages/account-settings/basic-information.tsx
  src/pages/account-settings/billing.tsx
  src/pages/account-settings/notifications.tsx
  src/pages/account-settings/profile.tsx
  src/pages/account-settings/security.tsx
  src/pages/dog.tsx
  src/pages/fauna-csr.tsx
  src/pages/fauna-ssg.tsx
  src/pages/hybrid/one.tsx
  src/pages/index.tsx
  src/pages/legal/[topic].tsx
  src/typings/layout.d.ts
Labels: Core

wip: some tailwind experiments
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Labels: Config

style: add prettier plugin for tailwind
  package.json
  pnpm-lock.yaml
  src/components/layout/navigation.tsx
  src/components/layout/theme-changer.tsx
  src/layouts/account-settings.layout.tsx
  src/layouts/site.layout.tsx
  src/pages/account-settings/basic-information.tsx
  src/pages/account-settings/billing.tsx
  src/pages/account-settings/notifications.tsx
  src/pages/account-settings/profile.tsx
  src/pages/account-settings/security.tsx
  src/pages/account-settings/team-settings.tsx
  src/pages/index.tsx
Labels: Config, Core

deps: pin them
  package.json
  pnpm-lock.yaml
Labels: Config

deps: upgrade to next 12.0.9
  package.json
  pnpm-lock.yaml
Labels: Config
