Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

chore: remove a few console.logs
  src/config/env.config.ts
Labels: Core

fix: netlify skip check once more
  netlify.toml
  src/pages/hybrid/one.tsx
Labels: Config, Core

chore: add links to simple hybrid amp test page
  src/pages/hybrid/one.tsx
Labels: Core

ci: skip more pages at netlify's link checker
  netlify.toml
Labels: Config

feat: add some more links to nav menu
  src/components/layout/footer.tsx
  src/components/layout/navigation.tsx
  src/pages/index.tsx
Labels: Core

feat: render deploy url on page
  src/config/env.config.ts
  src/pages/legal/[topic].tsx
Labels: Core

deps(linter): use latest version of prettierx
  package.json
  pnpm-lock.yaml
Labels: Config

style: be less strict with console.logs
  .eslintrc.yml
Labels: Config

deps: explicitly add querystring
  package.json
  pnpm-lock.yaml
Labels: Config

style: minor linter import config change
  .eslintrc.yml
  test/test-utils.ts
Labels: Config

Revert "build: flag for webpack 5, now default"
  next.config.js
Labels: Config

fix: typescript and linter issues
  src/pages/dog.tsx
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/one.tsx
  src/pages/hybrid/post/[id].tsx
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Core

refactor: a few minor code cleanups
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/post/[id].tsx
Labels: Core

refactor: typings in dog page
  src/pages/dog.tsx
Labels: Core

refactor: change a type in typings
  next-env.d.ts
Labels: Config

wip: just fo fun
  commitlint.config.js
  src/layouts/default.layout.tsx
  src/pages/_app.tsx
  src/styles/global.scss
Labels: Config, Core

ci: install some netlify plugins to get the latest version
  package.json
  pnpm-lock.yaml
Labels: Config

ci: remove netlify plugin cache nextjs, should work without it now
  netlify.toml
Labels: Config

fix: don't instrument page config
  src/pages/hybrid/[...fragments].tsx
Labels: Core

wip: a few minor updates for sitemap generation
  next-sitemap.js
Labels: Config

fix: also ignore the other site configs
  src/pages/hybrid/one.tsx
  src/pages/hybrid/post/[id].tsx
Labels: Core

wip: test env vars
  next-sitemap.js
  next.config.js
  src/config/env.config.ts
  src/pages/dog.tsx
Labels: Config, Core

wip: add link to amp page on server (.amp)
  src/pages/hybrid/one.tsx
Labels: Core

ci: add PAT to badge action
  .github/workflows/badges.yml
Labels: Automation

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

ci: skip workflows - enable continue-on-error
  .github/workflows/compressed-size.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/eslint.yml
Labels: Automation

ci: don't run njsscan if not neccessary
  .github/workflows/njsscan-analysis.yml
Labels: Automation

docs: add new badges and a few learnings
  README.md
Labels: Config, Documentation

refactor: move custom typings into folder
  .vercelignore
  netlify.toml
  next-env.d.ts
  src/typings/global.d.ts
  src/typings/layout.d.ts
  tsconfig.json
Labels: Config, Core

test: add typescript support to nyc / istanbul
  package.json
  pnpm-lock.yaml
Labels: Config

build: do not depend on pre/post scripts
  package.json
Labels: Config

build: add some example config for babel
  babel.config.js
Labels: Config

look: add web font, not used yet
  src/pages/_document.tsx
Labels: Core

style: don't check html link elements for href
  .htmlvalidate.json
Labels: Config

dx: configure coverage reporter to post to terminal
  package.json
Labels: Config

look: next js also wants to preload the fonts, or whoever
  src/pages/_document.tsx
Labels: Core

feat: detect amp relation link automatically
  src/pages/hybrid/one.tsx
Labels: Core

ci: improve htmlvalidate config by extending other config file
  .htmlvalidate.netlify.json
Labels: Config

fix: path to htmlvalidate config
  .htmlvalidate.netlify.json
  src/pages/_document.tsx
Labels: Config, Core

ci: let's see if it also works without the special config again
  .htmlvalidate.netlify.json
  netlify.toml
Labels: Config
