Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

docs: minor renaming
  README.md
Labels: Config, Documentation

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

ci: update workflow triggers
  .github/workflows/basics.yml
  .github/workflows/compressed-size.yml
  .github/workflows/eslint.yml
  .github/workflows/labeler.yml
Labels: Automation

ci: update size limits
  .size-limit.json
Labels: Config

chore(deps): update actions/github-script action to v4
  .github/workflows/auto-create-pr.yml
Labels: Automation

dx: add typesync to fetch typings
  package.json
  pnpm-lock.yaml
Labels: Config

deps: move all types into dev dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

deps: add next-layout package
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Labels: Config

chore: update aliases for next-unused
  package.json
Labels: Config

chore: re-enable preinstall script
  package.json
Labels: Config

deps: install missing types (via typesync)
  package.json
  pnpm-lock.yaml
Labels: Config

fix: move types of non-dev deps back to non-dev
  package.json
  pnpm-lock.yaml
Labels: Config

deps: moving testing packages in dev deps
  package.json
  pnpm-lock.yaml
Labels: Config

Revert "deps: add next-layout package"
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Labels: Config

deps: overwrite some outdated deps
  package.json
  pnpm-lock.yaml
Labels: Config

ci: don't run typesync
  package.json
Labels: Config

chore: move nyc config in dedicated file, enable 'all'
  .nycrc.json
  README.md
  package.json
Labels: Config, Documentation

docs: mention typesync
  README.md
Labels: Config, Documentation

docs: add missing typesync url
  README.md
Labels: Config, Documentation

fix: is-ci is not available at the preinstall step, use npx
  package.json
Labels: Config

chore: add netlify logos
  public/logos/full-logo-dark.png
  public/logos/full-logo-dark.svg
  public/logos/full-logo-light.png
  public/logos/full-logo-light.svg
Labels: none

ci(security): don't care for dev dep vulnerabilities that much
  .github/workflows/basics.yml
Labels: Automation

fix(deps): update all non-major dependencies
  .github/workflows/codacy-analysis.yml
  package.json
  pnpm-lock.yaml
Labels: Config, Automation

dx: run scripts on different ports to allow running in parallel
  cypress.json
  package.json
Labels: Config

Revert "wip: commit dirty state before cleanup"
  next-env.d.ts
  package.json
  src/components/helper/axe.tsx
  src/components/layout/footer.tsx
  src/components/layout/navigation.tsx
  src/layouts/default.layout.tsx
  src/layouts/legal.layout.tsx
  src/layouts/site.layout.js
  src/pages/_app.tsx
  src/pages/hybrid/one.tsx
  src/typings/global.d.ts
  src/typings/layout.d.ts
  tailwind.config.js
Labels: Config, Core

fix: types in theme-changer / next-theme
  src/components/layout/theme-changer.tsx
  src/typings/global.d.ts
Labels: Core

docs: several readme updates
  README.md
Labels: Config, Documentation

style: reorder code, remove comments
  src/components/layout/theme-changer.tsx
Labels: Core

dx: open browser tab when running dev server
  package.json
Labels: Config

wip: commit dirty state before cleanup
  next-env.d.ts
  package.json
  src/components/helper/axe.tsx
  src/components/layout/footer.tsx
  src/components/layout/navigation.tsx
  src/layouts/default.layout.tsx
  src/layouts/legal.layout.tsx
  src/layouts/site.layout.js
  src/pages/_app.tsx
  src/pages/hybrid/one.tsx
  src/typings/global.d.ts
  src/typings/layout.d.ts
  tailwind.config.js
Labels: Config, Core

test(cypress): minor speedup by skipping useless root visit
  cypress/integration/smoke/first.js
Labels: none

Revert "Revert "deps: add next-layout package""
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Labels: Config

fix: broken bundle analyzer
  next.config.js
Labels: Config

wip: use a custom type for components
  src/pages/hybrid/one.tsx
  src/typings/layout.d.ts
Labels: Core

build: improve bundle analyzer loading
  next.config.js
Labels: Config

feat: add example for conditional rendering based on props
  src/components/layout/navigation.tsx
  src/layouts/default.layout.tsx
  src/layouts/legal.layout.tsx
Labels: Core

build: wrap axe loading in environment condition
  src/components/helper/axe.tsx
Labels: Core

docs: update amp types docstring
  src/typings/global.d.ts
Labels: Core

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
