Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

style(css): fix order
  src/styles/base.css
  src/styles/global.scss
Labels: Core, Style

style: add stylelint-config-prettier to improve harmony
  .stylelintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

style(css): fix violations
  src/styles/base.css
Labels: Core, Style

docs: minor cleanup
  README.md
  src/styles/base.css
Labels: Config, Core, Style, Documentation

ci(netlify): disable pa11y, fails because puppeteer
  netlify.toml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.2.29
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.2.29
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.57.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.57.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/node to v14.17.21
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/node to v14.17.21
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.2.30
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.2.30
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.179
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.179
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @sentry/nextjs to v6.13.3
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @sentry/nextjs to v6.13.3
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies to v7.15.8
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies to v7.15.8
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.2.31
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.2.31
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): pin dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency npm to v8
  package.json
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency size-limit to v6
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency eslint-plugin-jest to v25
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @size-limit/preset-app to v6
  package.json
  pnpm-lock.yaml
Labels: Config

fix: overwrite ansi-regex version until deps updated
  package.json
  pnpm-lock.yaml
Labels: Config

style: not using experimental features atm
  next.config.js
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v37
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency stylelint-config-prettier to v9
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update typescript-eslint monorepo to v5
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v37
  package.json
  pnpm-lock.yaml
Labels: Config
