Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

build: re-enable swc minify, no change on netlify
  next.config.js
Labels: Config

fix(deps): update all non-major dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix: this triggered a rebuilt of the estimo package
  package.json
  pnpm-lock.yaml
Labels: Config

ci: fix node version
  .github/workflows/basics.yml
Labels: Automation

ci: update workflow to improve pnpm install
  .github/workflows/basics.yml
Labels: Automation

ci: remove node version, vercel can only do version 14 bc lambda
  package.json
Labels: Config

dx: pin node version, remove npmrc
  .npmrc
  package.json
Labels: Config

deps: remove a few overrides
  package.json
  pnpm-lock.yaml
Labels: Config

ci: try to fix pnpm unknown
  .github/workflows/basics.yml
Labels: Automation

fix: rollback changes
  .github/workflows/basics.yml
Labels: Automation

fix: try different node version matrix
  .github/workflows/basics.yml
Labels: Automation

chore(deps): update dependency stylelint-config-standard to v25
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency stylelint-config-standard to v25
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

style: fix typescript-eslint/no-unnecessary-type-argument
  src/components/toggle.tsx
  src/pages/fauna-csr.tsx
  src/pages/fauna-ssg.tsx
Labels: Core

chore(deps): update treosh/lighthouse-ci-action action to v9
  .github/workflows/lighthouse-on-vercel-preview.yml
Labels: Automation

ci(actions): make pnpm available in compressed size action
  .github/workflows/compressed-size.yml
Labels: Automation

ci: use my own fork for compressed-size action
  .github/workflows/compressed-size.yml
Labels: Automation

ci: disable clean script in compressed size action
  .github/workflows/compressed-size.yml
Labels: Automation

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency eslint-plugin-unicorn to v41
  package.json
  pnpm-lock.yaml
Labels: Config

fix: linter issues
  cypress/integration/examples/window.spec.js
  src/styles/base.css
Labels: Core, Style

ci: add stylint config for github super linter
  .github/linters/.stylelintrc.yml
Labels: none

fix(deps): update dependency next to v12.1.0 [security]
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update actions/github-script action to v6
  .github/workflows/auto-create-pr.yml
  .github/workflows/lighthouse-on-vercel-preview.yml
Labels: Automation

feat: update next config
  next.config.js
Labels: Config

ci: add stylelint config for superlinter
  .github/linters/.stylelintrc.json
Labels: none

ci: increase size limit
  .size-limit.json
Labels: Config

ui: use text-rendering: auto
  src/styles/base.css
Labels: Core, Style

ci: delete unused stylelint config
  .github/linters/.stylelintrc.yml
Labels: none

ci: use latest version of size-limit action
  .github/workflows/compressed-size.yml
Labels: Automation

test: use no babel transform for jest
  jest.config.js
Labels: Config

style: fix linter issue
  jest.config.js
Labels: Config

ci: update test running
  .github/workflows/basics.yml
Labels: Automation

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
