Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

feat: add sanity studio
  .eslintignore
  .prettierignore
  pnpm-lock.yaml
  sanity/README.md
  sanity/config/.checksums
  sanity/config/@sanity/data-aspects.json
  sanity/config/@sanity/default-layout.json
  sanity/config/@sanity/default-login.json
  sanity/config/@sanity/form-builder.json
  sanity/config/@sanity/google-maps-input.json
  sanity/dist/index.html
  sanity/dist/static/.gitkeep
  sanity/dist/static/css/main.css
  sanity/dist/static/favicon.ico
  sanity/dist/static/js/app.bundle.js
  sanity/dist/static/js/vendor.bundle.js
  sanity/package.json
  sanity/plugins/.gitkeep
  sanity/pnpm-lock.yaml
  sanity/sanity.json
  sanity/schemas/block-content.js
  sanity/schemas/cast-member.js
  sanity/schemas/crew-member.js
  sanity/schemas/movie.js
  sanity/schemas/person.js
  sanity/schemas/plot-summaries.js
  sanity/schemas/plot-summary.js
  sanity/schemas/schema.js
  sanity/schemas/screening.js
  sanity/static/.gitkeep
  sanity/static/favicon.ico
  sanity/tsconfig.json
  sanity/yarn.lock
Labels: Config

feat: simple sanity example
  src/config/sanity.config.js
  src/pages/movie/[slug].js
  src/utils/queries.js
  src/utils/sanity.js
  src/utils/sanity.server.js
Labels: Core

chore(deps): update dependency @types/eslint to v7.2.12
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/eslint to v7.2.12
  package.json
  pnpm-lock.yaml
Labels: Config

ci: just to see if relative-ci works when import it at the top
  next.config.js
Labels: Config

ci: seems this was missing
  .github/workflows/basics.yml
Labels: Automation

Revert "ci: seems this was missing"
  .github/workflows/basics.yml
Labels: Automation

chore: relativeCi this is just not there yet(?)
  next.config.js
  package.json
  pnpm-lock.yaml
Labels: Config

docs: update comments in next config file
  next.config.js
Labels: Config

fix(deps): update dependency webpack to v5.38.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.38.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency jest-watch-typeahead to v0.6.4
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency jest-watch-typeahead to v0.6.4
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.38.1
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.38.1
  package.json
  pnpm-lock.yaml
Labels: Config

ci: make is-ci a production dependency
  package.json
  pnpm-lock.yaml
Labels: Config

wip: add config for amplify
  amplify.yml
Labels: Config

ci: remove testing part for amplify
  amplify.yml
Labels: Config

docs: mention amplify
  README.md
Labels: Config, Documentation

build: lets see if I can specify node version like this
  .npmrc
  .nvmrc
Labels: Config

chore: keep nvmrc
  .nvmrc
Labels: Config

build: remove node engine entry from package.json
  package.json
Labels: Config

chore(deps): update all non-major dependencies
  package.json
Labels: Config

chore: renovate not updating lock file wtf
  pnpm-lock.yaml
Labels: Config

ci(amplify): test again if pnpm installs node
  amplify.yml
Labels: Config

chore: do not use appRoot, the docs were right haha
  amplify.yml
Labels: Config

chore(deps): update dependency html-validate to v4.13.1
  package.json
Labels: Config

deps: update lock file, renovate broken
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update jest monorepo to v27
  package.json
Labels: Config

deps: update lock file
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

test(jest): set jest test env to 'jsdom', new default is 'node'
  jest.config.js
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix: remove outdated renovate version pin of husky
  package.json
Labels: Config

docs: document issue with terminals dying
  CONTRIBUTING.md
  README.md
Labels: Config, Documentation

docs: improve install guidelines, still wip
  CONTRIBUTING.md
  README.md
Labels: Config, Documentation

docs: mention multiple node version setting occurrences
  README.md
Labels: Config, Documentation

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
