Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

docs: add readme template
  README.md
  README.template.md
Labels: Config, Documentation

ci: change trigger for eslint action
  .github/workflows/compressed-size.yml
  .github/workflows/eslint.yml
Labels: Automation

style: indent linter complains
  .github/workflows/eslint.yml
Labels: Automation

chore(deps): update dependency eslint-plugin-unicorn to v31
  package.json
  pnpm-lock.yaml
Labels: Config

ci: add name for card action
  .github/workflows/create-card.yml
Labels: Automation

style: disable new 'unicorn/prefer-module' rule
  .eslintrc.yml
Labels: Config

ci: add action to push css changes to project wallace
  .github/workflows/project-wallace-css.yml
Labels: Automation

ci: move PR finder job into debug action
  .github/workflows/check-triggers.yml
  .github/workflows/labeler.yml
Labels: Automation

ci: print build folder content to workflow console
  .github/workflows/project-wallace-css.yml
Labels: Automation

test: only upload cypress videos if test fails
  cypress.json
Labels: Config

chore: switch back from js config to json for babel
  babel.config.js
  babel.config.json
Labels: Config

Revert "chore: switch back from js config to json for babel"
  babel.config.js
  babel.config.json
Labels: Config

ci: split basic job in 2 jobs for parallelization
  .github/workflows/basics.yml
Labels: Automation

docs: add some info
  .github/workflows/project-wallace-css.yml
  README.md
Labels: Config, Automation, Documentation

chore(deps): update dependency husky to v6
  package.json
  pnpm-lock.yaml
Labels: Config

chore: add package ci-info
  package.json
  pnpm-lock.yaml
Labels: Config

chore: migrate to husky 6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  README.md
  package.json
Labels: Config, Documentation

style: silence shellcheck linter
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Labels: none

ci: skip actions when updating readme badges
  .github/workflows/badges.yml
Labels: Automation

docs: add 2 more badges, webpack, babel
  .github/workflows/badges.yml
Labels: Automation

ci: skip project wallace action for now
  .github/workflows/project-wallace-css.yml
Labels: Automation

fix: skip ci syntax
  .github/workflows/badges.yml
Labels: Automation

feat: add typescript-eslint-language-service plugin as dep
  package.json
  pnpm-lock.yaml
Labels: Config

chore: add missing required dep for ts-eslint-lang-service
  package.json
  pnpm-lock.yaml
Labels: Config

chore: add config for typescript-eslint-language-service
  tsconfig.json
Labels: Config

chore: add dir to watch for ts-eslint-lang-service
  tsconfig.json
Labels: Config

fix: typo [skip ci]
  tsconfig.json
Labels: Config

docs: add eslint plugin unicorn
  README.md
Labels: Config, Documentation

chore: add example code for redirect
  next.config.js
Labels: Config

deps(ci): swap ci-info dep with is-ci, which I actually wanted
  package.json
  pnpm-lock.yaml
Labels: Config

chore: update next.js to 10.2.0
  package.json
  pnpm-lock.yaml
Labels: Config

style: silence 'prefer-module' till I know how to fix it
  .eslintrc.yml
Labels: Config

dx: allow a few more commit types (dx, deps, look)
  README.md
  commitlint.config.js
Labels: Config, Documentation

build: flag for webpack 5, now default
  next.config.js
Labels: Config

docs: reorder scripts
  README.md
  package.json
Labels: Config, Documentation

deps: add sass package
  package.json
  pnpm-lock.yaml
Labels: Config

deps: move sass into normal dependencies, not dev
  package.json
  pnpm-lock.yaml
Labels: Config

test: deploy a few test hybrid amp pages
  src/pages/dog.tsx
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/one.tsx
  src/pages/hybrid/post/[id].tsx
  src/pages/legal/[topic].tsx
Labels: Core

feat: also detect host environment in static page
  src/pages/dog.tsx
Labels: Core

ci: update netlify check for build skipping
  netlify.toml
Labels: Config
