Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

chore(deps): update dependency prettier-plugin-tailwindcss to v0.1.5
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency prettier-plugin-tailwindcss to v0.1.5
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency faunadb to v4.5.2
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency faunadb to v4.5.2
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.48
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.48
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency jest to v27.5.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency jest to v27.5.0
  package.json
  pnpm-lock.yaml
Labels: Config

ux: improve youtube iframe video loading
  next.config.js
  src/pages/index.tsx
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Config, Core

wip: disable custom buildID generation, is broken for me
  next.config.js
Labels: Config

docs: mention security headers
  README.md
  next.config.js
Labels: Config, Documentation

fix: linter and test issues
  next.config.js
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Config

chore(deps): update dependency pnpm to v6.29.2
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency pnpm to v6.29.2
  package.json
  pnpm-lock.yaml
Labels: Config

dx(linter): install textlint and rule for terminology
  package.json
  pnpm-lock.yaml
Labels: Config

dx(linter): configure textlint
  .textlintrc.yml
  README.md
  package.json
Labels: Config, Documentation

style: some textlint fixes in markdown files
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  README.template.md
  src/pages/index.tsx
Labels: Config, Core, Documentation

dx(linter): install jsx plugin for textlint
  .textlintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

style: textlint .tsx files
  package.json
  src/pages/dog.tsx
  src/pages/hybrid/one.tsx
  src/pages/index.tsx
  test/pages/index.test.tsx
Labels: Config, Core

dx(linter): add diacritics rule to textlint, just for fun
  .textlintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

fix: missing url
  README.md
  README.template.md
Labels: Config, Documentation

style: remove broken link
  README.md
Labels: Config, Documentation

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

build(netlify): disable asset options as per guide
  netlify.toml
Labels: Config

style: remove newlines
  netlify.toml
Labels: Config

dx: use nextjs canary build bc why not
  package.json
  pnpm-lock.yaml
Labels: Config

test: jest config changes
  jest.config.js
Labels: Config

test: a jest config with explicit swc
  jest.config.js
  jest.setup.js
  package.json
  pnpm-lock.yaml
Labels: Config

test(jest): go back to babel
  jest.config.js
  package.json
  pnpm-lock.yaml
Labels: Config

style: prettier fixes
  jest.config.js
Labels: Config

fix(test): this allows cypress to run again
  next.config.js
Labels: Config

test(cypress): reorder config, add 'chromeWebSecurity'
  cypress.json
Labels: Config

deps: use next 12.0.11 canary 10
  pnpm-lock.yaml
Labels: Config

deps: revert canary, bc why not
  package.json
  pnpm-lock.yaml
Labels: Config

dx: fix running of scrips
  package.json
Labels: Config

deps: few minor updates
  pnpm-lock.yaml
Labels: Config

test(coverage): still a closed book for me
  package.json
  pnpm-lock.yaml
Labels: Config

build: disable swc minify to see if netlify css works
  next.config.js
  package.json
Labels: Config

dx: remove volta config, not really useful I think
  package.json
Labels: Config

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
