Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

deps(linter): install eslint-config-prettier
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

fix: rename 'js' files to 'tsx'
  src/config/seo.config.ts
  src/pages/account-settings/basic-information.tsx
  src/pages/account-settings/billing.tsx
  src/pages/account-settings/notifications.tsx
  src/pages/account-settings/profile.tsx
  src/pages/account-settings/security.tsx
  src/pages/account-settings/team-settings.tsx
Labels: Core

wip: some eslint config cleanup
  .eslintrc.yml
Labels: Config

docs: a few readme improvements
  README.md
Labels: Config, Documentation

chore: remove deleted script
  package.json
Labels: Config

deps: install utility to find unused eslint rules
  package.json
  pnpm-lock.yaml
Labels: Config

wip: eslint config without plugins
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

wip: more linter fixes
  .eslintrc.yml
  babel.config.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/utilities.spec.js
  next.config.js
  src/components/helper/axe.tsx
  src/components/layout/footer.tsx
  src/components/layout/theme-changer.tsx
  src/pages/[dynamic]/index.tsx
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/one.tsx
  src/pages/legal/[topic].tsx
  src/pages/server-sitemap.xml/index.tsx
Labels: Config, Core

wip: fixes
  .eslintrc.yml
  babel.config.js
  package.json
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/post/[id].tsx
Labels: Config, Core

style: format some files again
  babel.config.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/utilities.spec.js
  next.config.js
  src/components/layout/footer.tsx
  src/pages/[dynamic]/index.tsx
  src/pages/_app.tsx
  src/pages/hybrid/[...fragments].tsx
Labels: Config, Core

style: re-enable some more unicorn config
  .eslintrc.yml
Labels: Config

style: fix more eslint core rules issues
  commitlint.config.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/cypress-api.spec.js
  cypress/integration/examples/spies-stubs-clocks.spec.js
  next-sitemap.js
  src/components/helper/axe.tsx
  src/config/seo.config.ts
  src/pages/[dynamic]/index.tsx
  src/pages/api/__coverage__.ts
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/pages/legal/[topic].tsx
Labels: Config, Core, API

chore: improve typing of layout page components
  src/pages/_app.tsx
  src/pages/legal/[topic].tsx
  src/typings/layout.d.ts
Labels: Core

chore: re-add unicorn
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

style: react sort props
  src/components/layout/footer.tsx
  src/components/layout/navigation.tsx
  src/layouts/account-settings.layout.tsx
  src/layouts/default.layout.tsx
  src/layouts/legal.layout.tsx
  src/layouts/site.layout.tsx
  src/pages/_app.tsx
  src/pages/account-settings/basic-information.tsx
  src/pages/account-settings/billing.tsx
  src/pages/account-settings/notifications.tsx
  src/pages/account-settings/profile.tsx
  src/pages/account-settings/security.tsx
  src/pages/account-settings/team-settings.tsx
  src/pages/dog.tsx
  src/pages/hybrid/one.tsx
  src/pages/index.tsx
  src/pages/legal/[topic].tsx
Labels: Core

style: make documents render method static, is this ok?
  src/pages/_document.tsx
Labels: Core

dx: enable most react eslint rules
  .eslintrc.yml
  README.md
  src/components/layout/theme-changer.tsx
  src/layouts/account-settings.layout.tsx
  src/layouts/default.layout.tsx
  src/layouts/inline.layout.tsx
  src/layouts/legal.layout.tsx
  src/layouts/simple.layout.tsx
  src/pages/[dynamic]/index.tsx
  src/pages/_app.tsx
  src/pages/first-amp.tsx
  src/pages/hybrid/post/[id].tsx
  src/pages/index.tsx
  src/pages/legal/[topic].tsx
Labels: Config, Core, Documentation

style: update eslint config
  .eslintrc.yml
Labels: Config

chore: update nextjs config options
  next.config.js
Labels: Config

chore: re-add eslint-plugin-react-hooks
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

chore: re-add eslint-plugin-compat for browserlist
  .eslintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

docs: remove mentions of standard.js, emphasize prettier
  README.md
Labels: Config, Documentation

chore: update lock file, issue with pnpm
  pnpm-lock.yaml
Labels: Config

wip(style): improve typescript as per guide on medium
  .eslintrc.yml
  README.md
  next-env.d.ts
  src/components/byline.tsx
  src/components/layout/footer.tsx
  src/components/layout/navigation.tsx
  src/layouts/account-settings.layout.tsx
  src/layouts/default.layout.tsx
  src/layouts/inline.layout.tsx
  src/layouts/legal.layout.tsx
  src/layouts/simple.layout.tsx
  src/layouts/site.layout.tsx
  src/pages/[dynamic]/index.tsx
  src/pages/_app.tsx
  src/pages/_error.tsx
  src/pages/api/__coverage__.ts
  src/pages/dog.tsx
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/one.tsx
  src/pages/hybrid/post/[id].tsx
  src/typings/global.d.ts
Labels: Config, Core, API, Documentation

fix: typescript type imports add keyword and some more
  src/layouts/account-settings.layout.tsx
  src/pages/[dynamic]/index.tsx
  src/pages/_document.tsx
  src/pages/_error.tsx
  src/pages/api/__coverage__.ts
  src/pages/api/hello.ts
  src/pages/dog.tsx
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/post/[id].tsx
  src/pages/legal/[topic].tsx
  src/pages/server-sitemap.xml/index.tsx
  src/typings/layout.d.ts
  tsconfig.eslint.json
Labels: Config, Core, API

chore: re-add eslint-plugin-jsx-a11y
  .eslintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

style: re-enable eslint-import plugin and enable many rules
  .eslintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
  src/components/helper/axe.tsx
  src/config/env.config.ts
  src/config/seo.config.ts
  src/layouts/account-settings.layout.tsx
  src/layouts/site.layout.tsx
  src/pages/[dynamic]/index.tsx
  src/pages/_app.tsx
  src/pages/account-settings/team-settings.tsx
  src/pages/dog.tsx
  src/pages/first-amp.tsx
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/one.tsx
  src/pages/hybrid/post/[id].tsx
  src/pages/legal/[topic].tsx
  src/pages/legal/index.tsx
Labels: Config, Core, Documentation

fix: many typescript-eslint issues
  .eslintrc.yml
  src/components/layout/theme-changer.tsx
  src/config/env.config.ts
  src/pages/_app.tsx
  src/pages/api/__coverage__.ts
  src/pages/dog.tsx
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/one.tsx
  src/pages/hybrid/post/[id].tsx
Labels: Config, Core, API

ci(deps): netlify plugin not needed in package.json
  package.json
  pnpm-lock.yaml
Labels: Config

fix: prettier ignore husky folder
  .prettierignore
Labels: Config

fix: type issue
  src/pages/api/__coverage__.ts
Labels: Core, API

fix: some more typescript linter issues
  .eslintrc.yml
  src/components/helper/axe.tsx
  src/pages/_app.tsx
  src/pages/account-settings/basic-information.tsx
  src/pages/account-settings/billing.tsx
  src/pages/account-settings/notifications.tsx
  src/pages/account-settings/profile.tsx
  src/pages/account-settings/security.tsx
  src/pages/index.tsx
Labels: Config, Core

feat: re-enable eslint plugin tsdoc
  .eslintcache
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

wip: re-enable and add more test linter
  .eslintrc.yml
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  test/pages/index.test.tsx
  test/test-utils.ts
Labels: Config

style: ignore next-env.d.ts from linting
  .eslintignore
Labels: Config

fix: in yaml I can't use regex for file extensions
  .eslintrc.yml
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/cypress-api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/spies-stubs-clocks.spec.js
  cypress/integration/examples/utilities.spec.js
  test/pages/index.test.tsx
  test/test-utils.ts
Labels: Config

chore: disable typescript-eslint extended core rules
  .eslintrc.yml
Labels: Config

style: configure typescript-eslint as per faq
  .eslintrc.yml
Labels: Config

feat: add eslint-plugin-eslint-comments
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

dx: use cache for eslint
  .eslintrc.yml
  .gitignore
  package.json
Labels: Config

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
