Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

chore(deps): update dependency eslint-find-rules to v4
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @size-limit/preset-app to v7
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update commitlint monorepo
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-compat to v4
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-promise to v6
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency stylelint-config-standard to v24
  package.json
  pnpm-lock.yaml
Labels: Config

dx: don't use stylelint-a11y until support for stylelint 14 is merged
  .stylelintrc.yml
  package.json
  pnpm-lock.yaml
  src/styles/base.css
  src/styles/global.scss
  src/styles/main.css
Labels: Config, Core, Style

dx(linter): add stylelint-a11y
  .stylelintrc.yml
  package.json
  pnpm-lock.yaml
  src/styles/base.css
  src/styles/global.scss
  src/styles/main.css
Labels: Config, Core, Style

dx(css): improve stylelint config
  .stylelintignore
  .stylelintrc.yml
  package.json
  pnpm-lock.yaml
  src/styles/base.css
Labels: Config, Core, Style

chore(deps): update all non-major dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-jest-dom to v4
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-jest-dom to v4
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency tailwindcss to v3
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.8.7
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.8.7
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/prettier to v2.4.3
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/prettier to v2.4.3
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update node.js to v16
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint to v8
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency typescript-eslint-language-service to v5
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

ci: disable eslint action, not ready for node 8 yet
  .github/workflows/eslint.yml
Labels: Automation

chore(deps): update nextjs monorepo to v12
  package.json
  pnpm-lock.yaml
Labels: Config

chore: sync babel version
  babel.config.js
Labels: Config

build: disable deprecated 'target' option
  next.config.js
Labels: Config

chore: update babel types
  next-env.d.ts
  pnpm-lock.yaml
Labels: Config

fix: strange issue with page config export
  src/pages/[dynamic]/index.tsx
  src/pages/dog.tsx
  src/pages/first-amp.tsx
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/one.tsx
Labels: Core

chore: update missing 'export config'
  src/pages/hybrid/post/[id].tsx
Labels: Core

ui: update tailwind config for v3
  src/pages/hybrid/post/[id].tsx
  tailwind.config.js
Labels: Config, Core

ci: netlify plugin needs upgrade
  netlify.toml
Labels: Config

style: sort keys in tailwind config
  tailwind.config.js
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
