Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

ci: pretty print new github actions
  .github/workflows/codacy-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/njsscan-analysis.yml
  .github/workflows/shiftleft-analysis.yml
Labels: Automation

ci: minor fixes
  .github/workflows/compressed-size.yml
  .github/workflows/detect-secrets.yml
Labels: Automation

chore(deps): update codacy/codacy-analysis-cli-action action to v2
  .github/workflows/codacy-analysis.yml
Labels: Automation

chore(deps): update correlatedlabs/detect-secrets-action action to v1
  .github/workflows/detect-secrets.yml
Labels: Automation

ci: add new little action to check load time
  .github/workflows/compressed-size.yml
  package.json
Labels: Config, Automation

ci: dont use pnpm in new action
  .github/workflows/compressed-size.yml
  .github/workflows/detect-secrets.yml
Labels: Automation

ci: install size-limit dependency for github size action
  package.json
  pnpm-lock.yaml
Labels: Config

ci: skip build
  .github/workflows/compressed-size.yml
Labels: Automation

ci: in case skip step too
  .github/workflows/compressed-size.yml
Labels: Automation

chore(deps): update actions/upload-artifact action to v2
  .github/workflows/detect-secrets.yml
Labels: Automation

chore(deps): update codacy/codacy-analysis-cli-action action to v3
  .github/workflows/codacy-analysis.yml
Labels: Automation

style: remove jsx styling from landing page
  src/pages/index.tsx
Labels: Core

refactor: move all footer content into footer component
  src/components/layout/footer.tsx
  src/pages/index.tsx
Labels: Core

style: disable loading of tailwind
  src/pages/_app.tsx
Labels: Core

chore(deps): update actions/github-script action to v4
  .github/workflows/lighthouse-on-vercel-preview.yml
Labels: Automation

feat: update dummy content
  src/pages/index.tsx
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Core

refactor: theme changer
  src/components/layout/theme-changer.tsx
  src/pages/legal/[topic].tsx
Labels: Core

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix: amp switcher for hybrid page
  src/pages/dog.tsx
Labels: Core

ci: secret scan try again to ignore false positive
  .github/workflows/detect-secrets.yml
  .github/workflows/fossa.yml
Labels: Automation

style: add classless marx.css WIP
  src/pages/_app.tsx
Labels: Core

ci: make more jobs clever enough to skip themself
  .github/workflows/basics.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/eslint.yml
Labels: Automation

ci: remove comment from lighthouse action after run
  .github/workflows/lighthouse-on-vercel-preview.yml
Labels: Automation

fix: iframe - frameboarder is deprecated
  src/pages/index.tsx
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Core

ci: fix don't use duplicate step id in workflow
  .github/workflows/lighthouse-on-vercel-preview.yml
Labels: Automation

ci(project-management): create project card for new PRs
  .github/workflows/create-card.yml
Labels: Automation

ci: rename trigger for repository dispatch for new PRs
  .github/workflows/auto-create-pr.yml
  .github/workflows/basics.yml
  .github/workflows/eslint.yml
  .github/workflows/labeler.yml
Labels: Automation

ci: update message and client payload for new PRs
  .github/workflows/auto-create-pr.yml
Labels: Automation

ci: don't trigger debug check on check_run's
  .github/workflows/check-triggers.yml
Labels: Automation

ci: fix issue in auto-create PR action
  .github/workflows/auto-create-pr.yml
Labels: Automation

ci: fix broken codql version
  .github/workflows/detect-secrets.yml
Labels: Automation

fix: no inline styles, a few new todos, stricter html linting
  .htmlvalidate.json
  README.md
  src/pages/first-amp.tsx
  src/pages/index.tsx
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Config, Core, Documentation

fix: try again to prevent false positive
  .github/workflows/fossa.yml
Labels: Automation

refactor: don't use inline css
  src/pages/index.tsx
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Core

style: dont use css vars atm
  src/pages/index.tsx
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Core

chore: add global type declaration file
  global.d.ts
Labels: Config

ci: add config for shift-left sast scan
  .sastscanrc
Labels: Config

ci: disable scan id
  .github/workflows/detect-secrets.yml
Labels: Automation

style: overwrite link color from marx to met a11y contrast
  src/pages/index.tsx
Labels: Core

test: update snapshot
  test/pages/__snapshots__/index.test.tsx.snap
Labels: none
