Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

ci: ignore links to non-static pages
  CHANGELOG.md
  netlify.toml
Labels: Config, Documentation

docs: add missing links to sentry sdks
  README.md
Labels: Config, Documentation

style: fix linter issues, don't fail on a11y error on netlify
  netlify.toml
Labels: Config

wip: disable netlify ignore script, ignores things it shouldn't
  netlify.toml
Labels: Config

fix: remove debug print of config, didn't work
  next.config.js
Labels: Config

fix(ci): preinstall not supported in this action
  .github/workflows/compressed-size.yml
Labels: Automation

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(release): 1.4.0
  CHANGELOG.md
  package.json
Labels: Config, Documentation

feat: use sentry for error capture
  src/pages/dog.tsx
Labels: Core

wip: add example for prerendered sentry content
  src/pages/fauna-2.tsx
Labels: Core

fix(deps): update dependency webpack to v5.45.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.45.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.1.3
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.1.3
  package.json
  pnpm-lock.yaml
Labels: Config

wip: add example for prerendered fauna data
  src/pages/fauna-2.tsx
Labels: Core

chore(deps): update dependency eslint to v7.31.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint to v7.31.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore: make code valid
  src/pages/fauna-2.tsx
Labels: Core

wip: pass through locale from context
  src/pages/fauna-2.tsx
Labels: Core

wip: further improve typing
  src/pages/fauna-2.tsx
Labels: Core

chore: rename file
  src/pages/fauna-SSG.tsx
Labels: Core

chore: rename const
  src/pages/fauna-SSG.tsx
Labels: Core

chore: rename fauna client side rendered
  src/pages/fauna-CSR.tsx
Labels: Core

chore: rename const Fauna1 to FaunaCSR
  src/pages/fauna-CSR.tsx
Labels: Core

chore: update menu
  src/components/layout/navigation.tsx
Labels: Core

chore(deps): update dependency eslint-plugin-compat to v3.11.1
  package.json
  pnpm-lock.yaml
Labels: Config

build: disable experimental features, no idea what they did
  next.config.js
Labels: Config

fix: custom types must be exported
  src/typings/layout.d.ts
Labels: Core

wip: wip1
  src/pages/fauna-SSG.tsx
  src/pages/fauna-ssg1.tsx
Labels: Core

wip: wip2
  src/pages/fauna-csr1.tsx
Labels: Core

wip: wip3
  src/pages/fauna-ssg.tsx
Labels: Core

fix: rename to lower case, seems problematic for git
  src/pages/fauna-csr.tsx
Labels: Core

wip: improve typing
  src/pages/fauna-ssg.tsx
Labels: Core

style: remove unneeded linter disable rule
  cypress/integration/examples/location.spec.js
Labels: none

wip: rename types
  src/pages/fauna-ssg.tsx
Labels: Core

wip: rewrite functions as const
  src/pages/fauna-ssg.tsx
Labels: Core

wip: use useCallback to memoize callbacks
  src/pages/fauna-ssg.tsx
Labels: Core

ci(netlify): checklinks update filename matching
  netlify.toml
Labels: Config

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
