Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

ci: ignore the preconnect link check failure
  netlify.toml
Labels: Config

deps: update some
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): pin dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

look: implement layout solution from adam wathan
  src/layouts/account-settings.layout.js
  src/layouts/site.layout.js
  src/pages/account-settings/basic-information.js
  src/pages/account-settings/billing.js
  src/pages/account-settings/notifications.js
  src/pages/account-settings/profile.js
  src/pages/account-settings/security.js
  src/pages/account-settings/team-settings.js
Labels: Core

look: make use of new layouts
  src/pages/_app.tsx
Labels: Core

feat: add search bar dummy to site header
  src/components/layout/navigation.tsx
Labels: Core

look: use tailwind again
  src/pages/_app.tsx
Labels: Core

docs: add some more info about functions
  README.md
  src/pages/hybrid/[...fragments].tsx
Labels: Config, Core, Documentation

feat: make use of the layout
  src/pages/_app.tsx
  src/typings/layout.d.ts
Labels: Core

fix: don't care for layout of AMP pages for now
  src/pages/_app.tsx
Labels: Core

feat(a11y): add title to search field
  src/components/layout/navigation.tsx
  src/layouts/site.layout.js
Labels: Core

fix(a11y): add title to 2nd search box
  src/layouts/site.layout.js
Labels: Core

fix(html): linter issues from input and label elements
  src/pages/account-settings/basic-information.js
  src/pages/account-settings/billing.js
  src/pages/account-settings/notifications.js
  src/pages/account-settings/profile.js
  src/pages/account-settings/security.js
  src/pages/account-settings/team-settings.js
Labels: Core

fix(html): linter issues
  src/components/layout/navigation.tsx
  src/layouts/site.layout.js
Labels: Core

fix(a11y): add title to 2nd search box
  src/layouts/site.layout.js
Labels: Core

fix(types): type of children via prop-types
  src/layouts/account-settings.layout.js
  src/layouts/site.layout.js
Labels: Core

ci(vercel): unignore the vercelignore file
  .vercelignore
  tailwind.config.js
Labels: Config

refactor(fonts): move from document into app
  src/pages/_app.tsx
  src/pages/_document.tsx
Labels: Core

test(coverage): lcov report is making problems
  package.json
Labels: Config

look: implement layout solution from adam wathan
  src/layouts/account-settings.layout.js
  src/layouts/site.layout.js
  src/pages/account-settings/basic-information.js
  src/pages/account-settings/billing.js
  src/pages/account-settings/notifications.js
  src/pages/account-settings/profile.js
  src/pages/account-settings/security.js
  src/pages/account-settings/team-settings.js
Labels: Core

feat: make use of the layout
  src/pages/_app.tsx
  src/typings/layout.d.ts
Labels: Core

look(font): use one of my new webfonts
  src/styles/global.scss
Labels: Core

docs: add some more info about functions
  README.md
  src/pages/hybrid/[...fragments].tsx
Labels: Config, Core, Documentation

feat(a11y): add title to search field
  src/components/layout/navigation.tsx
  src/layouts/site.layout.js
Labels: Core

look: include tailwind via css
  README.md
  src/pages/_app.tsx
  src/styles/global.scss
Labels: Config, Core, Documentation

dx(linter): html linter less strict
  .htmlvalidate.json
Labels: Config

look: make use of new layouts
  src/pages/_app.tsx
Labels: Core

fix: don't care for layout of AMP pages for now
  src/pages/_app.tsx
Labels: Core

look: use tailwind again
  src/pages/_app.tsx
Labels: Core

ci(netlify): add canonicalRoot for checklinks
  netlify.toml
Labels: Config

feat: add search bar dummy to site header
  src/components/layout/navigation.tsx
Labels: Core

fix: propTypes
  src/layouts/account-settings.layout.js
Labels: Core

ci: ignore account-settings page when check links
  README.md
  netlify.toml
Labels: Config, Documentation

deps: update some
  pnpm-lock.yaml
Labels: Config

ci: canonicalroot is not supported on netlify linkcheck
  netlify.toml
Labels: Config

ci(netlify): install netlify-plugin-nextjs as non-dev dep
  package.json
  pnpm-lock.yaml
Labels: Config

fix: netlify config
  netlify.toml
Labels: Config

look: restore tailwind config
  netlify.toml
  src/styles/global.scss
  tailwind.config.js
Labels: Config, Core

style: some code cleanup
  src/pages/_app.tsx
  src/typings/layout.d.ts
Labels: Core

deps: update some
  pnpm-lock.yaml
Labels: Config
