Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

chore(deps): update all non-major dependencies to v27.0.5
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency size-limit to v5
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency html-validate to v5
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @size-limit/preset-app to v5
  package.json
  pnpm-lock.yaml
Labels: Config

refactor: amp links
  src/pages/hybrid/one.tsx
Labels: Core

ux(a11y): apply aria best practice to search
  src/components/layout/navigation.tsx
  src/layouts/default.layout.tsx
Labels: Core

refactor: also use 'useRef' for other anchor element
  src/pages/hybrid/one.tsx
Labels: Core

wip: improve toggle
  src/components/toggle.tsx
Labels: Core

feat: add toggle component
  src/components/toggle.tsx
Labels: Core

feat: toggle CSS layout
  src/components/layout/footer.tsx
  src/components/toggle.tsx
Labels: Core

feat: use toggle component
  src/components/layout/footer.tsx
Labels: Core

style: utilize 'useRef' hook to maintain reference to dom node
  src/pages/hybrid/one.tsx
Labels: Core

fix(a11y): use button instead of input
  src/components/layout/navigation.tsx
Labels: Core

fix(a11y): aside heading comes before main content but h1 must be first, use dl
  src/layouts/default.layout.tsx
Labels: Core

chore: remove debug log
  src/config/env.config.ts
Labels: Core

test(fix): cypress test
  cypress/integration/smoke/first.js
Labels: none

chore(deps): update dependency eslint-plugin-unicorn to v34
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v34
  package.json
  pnpm-lock.yaml
Labels: Config

deps: update next to 11.0.1
  package.json
  pnpm-lock.yaml
Labels: Config

deps: update some more minor deps
  pnpm-lock.yaml
Labels: Config

fix: don't overwrite next-env.d.ts, only for internal nextjs usage
  next-env.d.ts
  src/typings/global.d.ts
Labels: Config, Core

style: enable 2 new unicorn rules which are off by default
  .eslintrc.yml
Labels: Config

chore: remove/allow console logs
  src/components/layout/footer.tsx
  src/components/toggle.tsx
Labels: Core

deps: update next eslint plugin
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency eslint-plugin-unicorn to v34.0.1
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency husky to v7
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

deps(monitoring): add sentry plugin
  package.json
  pnpm-lock.yaml
Labels: Config

chore: remove 'target serverless' from next config
  next.config.js
Labels: Config

feat: use 'target experimental-serverless-trace'
  next.config.js
Labels: Config

chore(deps): update all non-major dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

wip: move sentry config into env file
  sentry.properties
Labels: Config

wip: wrap api route with error handler
  src/pages/api/__coverage__.ts
  src/pages/api/hello.ts
Labels: Core, API

wip: add button to create test error
  src/pages/dog.tsx
Labels: Core

fix: don't ignore sentry config on vercel deploys
  .vercelignore
Labels: Config

wip(monitoring): run sentry wizard
  _next.config.js
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
Labels: Config
