Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency html-validate to v6
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency jest-watch-typeahead to v1
  package.json
  pnpm-lock.yaml
Labels: Config

dx: disable font optimization, breaks html linter
  next.config.js
  src/pages/_app.tsx
Labels: Config, Core

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.56.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.56.0
  package.json
  pnpm-lock.yaml
Labels: Config

style: install stylelint css linter
  package.json
  pnpm-lock.yaml
Labels: Config

style: add stylelint-config-standard
  .stylelintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

style: add stylelint plugin for scss
  .stylelintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

style: add stylelint order config
  .stylelintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

dx: add script for css linting, extend stylelint config
  .stylelintrc.yml
  README.md
  package.json
Labels: Config, Documentation

style: lint css
  src/styles/base.css
  src/styles/global.scss
  src/styles/main.css
Labels: Core, Style

ux: fix sentry dsn
  next.config.js
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.2.28
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.2.28
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

ci: disable sentry integration
  netlify.toml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): pin dependency stylelint-config-idiomatic-order to 8.1.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

ci: disable actions that only work in public repos
  .github/workflows/codacy-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/njsscan-analysis.yml
  .github/workflows/shiftleft-analysis.yml
Labels: Automation

ci: disable one more job which only works in public
  .github/workflows/detect-secrets.yml
Labels: Automation

ci: disable pa11y, always fails, not sure why
  netlify.toml
Labels: Config

ci: use static build id
  next.config.js
Labels: Config

ci: don't create draft pr
  .github/workflows/auto-create-pr.yml
Labels: Automation

chore(deps): update dependency @types/stylelint to v13.13.2
  package.json
  pnpm-lock.yaml
Labels: Config

style: install stylelint css linter
  package.json
  pnpm-lock.yaml
Labels: Config

style: add stylelint-config-standard
  .stylelintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

style: add stylelint plugin for scss
  .stylelintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

deps: update some
  pnpm-lock.yaml
Labels: Config

dx: add script for css linting, extend stylelint config
  .stylelintrc.yml
  README.md
  package.json
Labels: Config, Documentation

ci: use static build id
  next.config.js
Labels: Config

style: lint css
  src/styles/base.css
  src/styles/global.scss
  src/styles/main.css
Labels: Core, Style

deps: update some
  pnpm-lock.yaml
Labels: Config

style(css): improve config
  .stylelintrc.yml
  src/styles/base.css
  src/styles/global.scss
  src/styles/main.css
Labels: Config, Core, Style

style: add stylelint order config
  .stylelintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation
