Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

ci: use cypress action
  .github/workflows/basics.yml
Labels: Automation

ci: no use cypress action
  .github/workflows/basics.yml
Labels: Automation

ci: update cypress script
  .github/workflows/basics.yml
  package.json
Labels: Config, Automation

ci: use jest via swc again
  .github/workflows/basics.yml
  package.json
  pnpm-lock.yaml
Labels: Config, Automation

ci: increase size limit
  .github/workflows/basics.yml
Labels: Automation

fix: protocoll
  .github/workflows/basics.yml
Labels: Automation

fix: update nextjs config
  next.config.js
Labels: Config

deps: pin swc
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update actions/checkout action to v3
  .github/workflows/auto-create-pr.yml
  .github/workflows/check-triggers.yml
  .github/workflows/codacy-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/compressed-size.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/fossa.yml
  .github/workflows/lighthouse-on-vercel-preview.yml
  .github/workflows/linter.yml
  .github/workflows/njsscan-analysis.yml
  .github/workflows/project-wallace-css.yml
  .github/workflows/shiftleft-analysis.yml
Labels: Automation

chore(deps): update dependency @types/jest to v27.4.1
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/jest to v27.4.1
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update actions/upload-artifact action to v3
  .github/workflows/detect-secrets.yml
Labels: Automation

chore(deps): update dependency @testing-library/react to v12.1.4
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @testing-library/react to v12.1.4
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  .github/workflows/codacy-analysis.yml
  package.json
  pnpm-lock.yaml
Labels: Config, Automation

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update linters
  package.json
  pnpm-lock.yaml
Labels: Config

dx: update github super linter config
  .github/linters/.stylelintrc.json
  .github/workflows/linter.yml
Labels: Automation

style: dont use type for theme changer, linter complains
  src/components/layout/theme-changer.tsx
Labels: Core

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update actions/cache action to v3
  .github/workflows/eslint.yml
Labels: Automation

chore(deps): update peter-evans/repository-dispatch action to v2
  .github/workflows/auto-create-pr.yml
Labels: Automation

chore(deps): update peter-evans/create-or-update-project-card action to v2
  .github/workflows/create-card.yml
Labels: Automation

chore(deps): update linters
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency @testing-library/jest-dom to v5.16.3
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

Update README.md
  README.md
Labels: Config, Documentation

style: only warn about misused promises
  .eslintrc.yml
Labels: Config

style: only warn for @typescript-eslint/no-redundant-type-constituents
  .eslintrc.yml
Labels: Config

chore(deps): update test packages
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix: add typings for next-themes
  src/typings/next-themes.d.ts
Labels: Core

fix: vulnerabilities async & minimist
  package.json
  pnpm-lock.yaml
Labels: Config

fix: warning for missing iframe sandbox
  next.config.js
  src/pages/index.tsx
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Config, Core

test: increase size-limits
  .size-limit.json
Labels: Config
