Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

feat: add eslint-plugin-promise
  .eslintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

feat: add eslint-plugin-array-func
  .eslintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

feat: add eslint-plugin-sonarjs
  .eslintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

chore: don't lint the lock file
  .eslintignore
Labels: Config

dx: ignore-unknown files with prettier, no special case handling needed anymore
  .prettierignore
  package.json
Labels: Config

feat: lint toml files and json-schema I think
  .eslintrc.yml
  README.md
  netlify.toml
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

fix: some small eslint config issues
  .eslintrc.yml
  netlify.toml
Labels: Config

style: fix sort-vars
  .eslintrc.yml
  src/pages/_app.tsx
  src/pages/legal/[topic].tsx
Labels: Config, Core

style: improve import sorting
  .eslintrc.yml
  src/pages/_app.tsx
  test/pages/index.test.tsx
Labels: Config, Core

dx: enable nextjs linting
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

style: improve max-statements & id-length
  .eslintrc.yml
  src/pages/[dynamic]/index.tsx
  src/pages/dog.tsx
Labels: Config, Core

style: re-order linting rules in config
  .eslintrc.yml
Labels: Config

style: re-sort keys
  .eslintrc.yml
  README.md
  babel.config.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/cypress-api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/network-requests.spec.js
  jest.config.js
  next-sitemap.js
  next.config.js
  postcss.config.js
  src/config/env.config.ts
  src/config/seo.config.ts
  src/pages/[dynamic]/index.tsx
  src/pages/_app.tsx
  src/pages/legal/[topic].tsx
  src/pages/server-sitemap.xml/index.tsx
  tailwind.config.js
Labels: Config, Core, Documentation

dx: update scripts, will not autofix because it's slower
  .eslintrc.yml
  package.json
Labels: Config

docs: don't list linter rules, just link to them
  README.md
Labels: Config, Documentation

dx: add eslint-plugin-sort-keys-fix
  package.json
  pnpm-lock.yaml
Labels: Config

chore: rename scripts for linter rule management
  package.json
Labels: Config

chore: cleanup lock file
  pnpm-lock.yaml
Labels: Config

fix: remove eslintcache from git
  .eslintcache
  .gitignore
Labels: Config

chore: disable rule to use next-img
  .eslintrc.yml
  next.config.js
Labels: Config

style: allow triple-slash-directives, sort type members
  .eslintignore
  .eslintrc.yml
  next-env.d.ts
  src/pages/hybrid/[...fragments].tsx
  src/typings/layout.d.ts
Labels: Config, Core

chore: move font loading from app to document
  src/pages/_app.tsx
  src/pages/_document.tsx
Labels: Core

style: use async/await style to report web vitals
  src/pages/_app.tsx
Labels: Core

fix: axeHelper should not be prefetched, should be hidden in production
  src/pages/_app.tsx
Labels: Core

Revert "chore: move font loading from app to document"
  src/pages/_app.tsx
  src/pages/_document.tsx
Labels: Core

fix: jest linter issues, be less strict here
  .eslintrc.yml
  test/pages/index.test.tsx
Labels: Config

dx: add condition to todo
  src/components/layout/navigation.tsx
Labels: Core

chore(deps): pin dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

ci: remove netlify plugin html-validate from config file
  netlify.toml
Labels: Config

fix(deps): update dependency postcss to v8.3.3
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency postcss to v8.3.3
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency postcss to v8.3.4
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency postcss to v8.3.4
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies to v4.27.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies to v4.27.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.116
  package.json
  pnpm-lock.yaml
Labels: Config

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
