Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

fix: ignore 'coverage' folder from formatting
  .prettierignore
Labels: Config

dx: use json5 config file for prettier
  .prettierrc
  .prettierrc.json5
Labels: Config

wip: linter
  .eslintrc.yml
  package.json
Labels: Config

style: format code with current prettier settings
  .github/workflows/auto-create-pr.yml
  README.template.md
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/aliasing.spec.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/network-requests.spec.js
  cypress/integration/examples/querying.spec.js
  cypress/integration/examples/spies-stubs-clocks.spec.js
  cypress/integration/examples/traversal.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/integration/examples/viewport.spec.js
  cypress/integration/examples/window.spec.js
  src/layouts/simple.layout.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/first-amp.tsx
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/post/[id].tsx
  src/pages/legal/[topic].tsx
Labels: Config, Core, Automation, Documentation

chore(deps): update dependency start-server-and-test to v1.12.4
  package.json
  pnpm-lock.yaml
Labels: Config

feat: add prettier plugins for toml and shell files
  README.md
  README.template.md
  netlify.toml
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

fix: cleanup
  package.json
  pnpm-lock.yaml
Labels: Config

Revert "wip: linter"
  .eslintrc.yml
  package.json
Labels: Config

fix: broken pnpm lock file
  pnpm-lock.yaml
Labels: Config

fix: lockfile again, whats up pnpm
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint to v7.28.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint to v7.28.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency core-js to v3.14.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency core-js to v3.14.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.105
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.105
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): glob-parent < 5.1.2 has vulnerability
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix(deps): update dependency @types/react to v17.0.11
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/react to v17.0.11
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency pnpm to v6.7.6
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency pnpm to v6.7.6
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/prettier to v2.3.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/prettier to v2.3.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency tslib to v2.3.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency tslib to v2.3.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.111
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.111
  package.json
  pnpm-lock.yaml
Labels: Config

chore: ignore more unneeded things from prettier
  .prettierignore
Labels: Config

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
