Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

deps(build): make bundle-analyzer a dev dep
  package.json
  pnpm-lock.yaml
Labels: Config

build: axe should not be part of the client bundle
  package.json
  pnpm-lock.yaml
Labels: Config

build: type is missing on ci
  next-env.d.ts
Labels: Config

test: do not lint bundle analyzer output
  .htmlvalidateignore
Labels: Config

build: add condition for loading bundle-analyze
  next.config.js
Labels: Config

feat(wip): render logo of hoster in footer
  src/components/layout/footer.tsx
Labels: Core

look: fix tailwind css purging
  tailwind.config.js
Labels: Config

deps: dont use 'browser' field, breaks dev env
  package.json
Labels: Config

refactor: axe into own component
  src/components/helper/axe.tsx
  src/pages/_app.tsx
Labels: Core

test: forgot update of cypress watch port
  package.json
Labels: Config

wip: moxy/next-layout, remove package for now
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
Labels: Config, Core

perf: lazy load youtube iframe
  src/pages/index.tsx
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Core

feat: add helper to check for dev env
  src/config/env.config.ts
Labels: Core

build: put axe in optional dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency lint-staged to v11
  package.json
  pnpm-lock.yaml
Labels: Config

fix: some markdown linter issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

look: use Sansita, not Sansita Swashed, add generic fallback font
  src/pages/_app.tsx
  src/styles/global.scss
Labels: Core

dx: commit types replace 'look' with 'ui' & 'ux'
  README.md
  commitlint.config.js
Labels: Config, Documentation

ui: update background colors but still not enough contrast
  src/styles/global.scss
Labels: Core

ci: add config for 'semantic pr' action
  .github/semantic.yml
Labels: none

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Labels: Config, Documentation

docs: add stuff from readme template
  README.md
  README.template.md
Labels: Config, Documentation

docs: add next-right-now to related projects
  README.md
Labels: Config, Documentation

chore(deps): pin dependency typesync to 0.8.0
  package.json
  pnpm-lock.yaml
Labels: Config

ci: test new netlify plugin
  package.json
  pnpm-lock.yaml
Labels: Config

style: add package.json linter
  .npmpackagejsonlintrc.json
  package.json
  pnpm-lock.yaml
Labels: Config

perf: add link to speedlify instance
  README.md
Labels: Config, Documentation

ci: install relativeCI agent
  package.json
  pnpm-lock.yaml
Labels: Config

ci: relativeCI webpack agent config
  next.config.js
Labels: Config

build: dont use relativeCI plugin on vercel
  next.config.js
Labels: Config

ux: add sizes to images
  src/components/layout/footer.tsx
  src/layouts/site.layout.js
Labels: Core

ux(a11y): add title to navigation
  src/components/layout/navigation.tsx
  src/layouts/site.layout.js
Labels: Core

ux(seo): fix canonical head link for legal pages
  src/pages/legal/[topic].tsx
Labels: Core

dx(a11y): dont add markup for axe
  src/components/helper/axe.tsx
Labels: Core

chore: default to empty string for missing topic
  src/pages/legal/[topic].tsx
Labels: Core

fix: package.json to reduce vulnerabilities
  package.json
Labels: Config

chore(deps): update all non-major dependencies
  .github/workflows/codacy-analysis.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config, Automation

chore(deps): update all non-major dependencies
  .github/workflows/codacy-analysis.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config, Automation

fix(deps): update dependency @types/node to v14
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v32
  package.json
  pnpm-lock.yaml
Labels: Config
