Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

deps: remove node-fetch overwrite
  package.json
  pnpm-lock.yaml
Labels: Config

test: update snapshot
  test/pages/__snapshots__/index.test.tsx.snap
Labels: none

build(deps): remove tslib, useless for me
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

docs: update scripts documentation
  README.md
Labels: Config, Documentation

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): pin dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency faunadb to v4.4.2
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint to v8.8.0
  package.json
  pnpm-lock.yaml
Labels: Config

feat: add preact via next-plugin-preact
  next.config.js
  package.json
  pnpm-lock.yaml
  test/pages/__snapshots__/index.test.tsx.snap
  test/test-utils.ts
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.43
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.43
  package.json
  pnpm-lock.yaml
Labels: Config

perf: use preact in production builds
  next.config.js
  package.json
  pnpm-lock.yaml
Labels: Config

deps: pin preact dependency
  package.json
  pnpm-lock.yaml
Labels: Config

style: fix linter issues
  next.config.js
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.44
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2.1.44
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency pnpm to v6.29.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency pnpm to v6.29.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

deps: explicitly require styled-jsx
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix: rewrite config function, wasn't working
  next.config.js
Labels: Config

ux: add security headers
  next.config.js
Labels: Config

build: enable faster build, remove console logs
  .stylelintrc.yml
  next.config.js
Labels: Config

fix: security headers path with i18n routing
  next.config.js
Labels: Config

fix: make CSP more strict and fix typo
  next.config.js
Labels: Config

dx: improve localtunnel script
  package.json
Labels: Config

fix: another typo and add some cors headers to api routes
  next.config.js
Labels: Config

fix: match unlocalized api routes, remove anti-pattern
  next.config.js
Labels: Config

fix: typo and allow needed CSPs
  next.config.js
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix: add missing quotes
  next.config.js
Labels: Config

fix: api routes aren't localized
  next.config.js
Labels: Config

fix: linter issues
  next.config.js
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config
