Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

fix(deps): update dependency next-sitemap to v1.6.116
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update node.js to v14.17.1
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update node.js to v14.17.1
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency cypress-watch-and-reload to v1.3.9
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency cypress-watch-and-reload to v1.3.9
  package.json
  pnpm-lock.yaml
Labels: Config

wip: disable/remove netlify-plugin-cypress
  netlify.toml
  package.json
  pnpm-lock.yaml
Labels: Config

fix: invalid netlify config
  netlify.toml
Labels: Config

fix: invalid netlify config again
  netlify.toml
Labels: Config

fix(deps): update dependency sass to v1.35.1
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency sass to v1.35.1
  package.json
  pnpm-lock.yaml
Labels: Config

dx: upgrade to next 11
  next.config.js
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore: move eslint-config-next to prod deps
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
Labels: Config

style: no next.js eslinting during production builds
  next.config.js
Labels: Config

deps: move stulff where it belongs
  package.json
  pnpm-lock.yaml
Labels: Config

fix: linter issues
  netlify.toml
  next.config.js
Labels: Config

style: prefer-default-export
  .eslintrc.yml
  src/components/layout/footer.tsx
  src/components/layout/index.tsx
  src/components/layout/navigation.tsx
Labels: Config, Core

fix: circular dependency by not using barreling
  .eslintrc.yml
  README.md
  src/config/index.ts
  src/config/seo.config.ts
  src/pages/_app.tsx
  src/pages/legal/[topic].tsx
Labels: Config, Core, Documentation

style: fix/disable linter issues
  src/pages/hybrid/one.tsx
Labels: Core

fix: remove 'paths' from tsconfig, I didn't actually use this
  README.md
  tsconfig.json
Labels: Config, Documentation

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency cypress-watch-and-reload to v1.3.10
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency cypress-watch-and-reload to v1.3.10
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency postcss to v8.3.5
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency postcss to v8.3.5
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency typescript to v4.3.4
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency typescript to v4.3.4
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency typedoc to v0.21.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency typedoc to v0.21.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/react-dom to v17.0.8
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/react-dom to v17.0.8
  package.json
  pnpm-lock.yaml
Labels: Config

docs: mention preact and inferno
  README.md
Labels: Config, Documentation

docs: remove duplicate mention of prettier
  README.md
Labels: Config, Documentation

fix: add opengraph prefix on 'html' element
  src/pages/_document.tsx
Labels: Core

ci: re-enable netlify plugin html-validate
  netlify.toml
Labels: Config

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
