Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

chore(deps): update dependency eslint-plugin-promise to v5.1.1
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency postcss to v8.3.11
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency stylelint to v14
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency stylelint-config-standard to v23
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency ts-node to v10.3.1
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency stylelint-scss to v4
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency npm to v8.1.1
  package.json
Labels: Config

fix(deps): update dependency sass to v1.43.3
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/eslint to v7.28.2
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.2.42
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/node to v14.17.28
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/react to v17.0.32
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency typedoc to v0.22.7
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency core-js to v3.19.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/node to v14.17.30
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.60.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix: package.json to reduce vulnerabilities
  package.json
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v2
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update commitlint monorepo to v14
  package.json
  pnpm-lock.yaml
Labels: Config

fix: upgrade @types/node from 14.17.30 to 14.17.32
  package.json
Labels: Config

fix: upgrade @types/react from 17.0.32 to 17.0.33
  package.json
Labels: Config

fix: upgrade is-ci from 3.0.0 to 3.0.1
  package.json
Labels: Config

fix: package.json to reduce vulnerabilities
  package.json
Labels: Config

fix(deps): update dependency next to v11.1.3 [security]
  package.json
  pnpm-lock.yaml
Labels: Config

fix: upgrade typescript from 4.4.4 to 4.5.2
  package.json
Labels: Config

fix: upgrade webpack from 5.60.0 to 5.65.0
  package.json
Labels: Config

ci: fix audit issues
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update all non-major dependencies
  .github/workflows/basics.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config, Automation

fix: automatic linter fixes
  src/pages/_app.tsx
  src/typings/layout.d.ts
Labels: Core

fix: linter css changes
  src/styles/base.css
Labels: Core, Style

fix: linter issue react destructuring assignment
  src/components/layout/navigation.tsx
  src/pages/hybrid/one.tsx
Labels: Core

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update commitlint monorepo to v15
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency cypress to v9
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency hyperlink to v5
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency size-limit to v7
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation
