Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: config, test, source, api, automation, dependencies, documentation

docs: add guy to credits
  README.md
Labels: config, documentation

chore(deps): install cypress
  package.json
  yarn.lock
Labels: config

feat(cypress): initialize cypress, create example specs
  cypress.json
  cypress/fixtures/example.json
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/aliasing.spec.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/connectors.spec.js
  cypress/integration/examples/cookies.spec.js
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/local_storage.spec.js
  cypress/integration/examples/location.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/network_requests.spec.js
  cypress/integration/examples/querying.spec.js
  cypress/integration/examples/spies_stubs_clocks.spec.js
  cypress/integration/examples/traversal.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/integration/examples/viewport.spec.js
  cypress/integration/examples/waiting.spec.js
  cypress/integration/examples/window.spec.js
  cypress/plugins/index.js
  cypress/screenshots/All Integration Specs/my-image.png
  cypress/support/commands.js
  cypress/support/index.js
Labels: config

chore(deps): install eslint-plugin-cypress
  package.json
  yarn.lock
Labels: config

test(config): jest should only run jest test files
  jest.config.js
Labels: config

chore(build): don't compile test files for build
  tsconfig.json
Labels: config

chore(linter): update test lint config
  .eslintrc.json
Labels: config

fix(specs): linter issues
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/network_requests.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/plugins/index.js
Labels: none

ci: trigger event needs PAT with 'write' right
  .github/workflows/auto-create-pr.yml
Labels: automation

docs(tests): add cypress version badge
  .github/workflows/badges.yml
Labels: automation

chore(deps): add cypress-code-coverage (and nyc)
  package.json
  yarn.lock
Labels: config

fix(specs): broken cypress examples
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/aliasing.spec.js
  cypress/integration/examples/connectors.spec.js
  cypress/integration/examples/cookies.spec.js
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/local_storage.spec.js
  cypress/integration/examples/location.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/network_requests.spec.js
  cypress/integration/examples/querying.spec.js
  cypress/integration/examples/spies_stubs_clocks.spec.js
  cypress/integration/examples/traversal.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/integration/examples/viewport.spec.js
  cypress/integration/examples/waiting.spec.js
  cypress/integration/examples/window.spec.js
Labels: none

chore(deps): install helper start-server-and-test
  package.json
  yarn.lock
Labels: config

chore: gitignore cypress artifacts
  .gitignore
Labels: config

test: fix broken specs
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/querying.spec.js
Labels: none

test: add typrscript config for coverage
  cypress/tsconfig.json
Labels: none

chore(config): add baseUrl & paths params to tsconfig
  tsconfig.json
Labels: config

test(coverage): add config to measure code coverage
  .babelrc
  cypress.json
  cypress/plugins/index.js
  cypress/support/index.js
  package.json
  src/pages/api/__coverage__.ts
Labels: config, source

test(config): add yarn scripts to run e2e specs
  README.md
  package.json
Labels: config, documentation

.github/labeler.yml:

# Add 'repo' label to any root file changes
config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.js

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
frontend:
  - any: ['src/**/*.js']
    all: ['!src/main.js']

api:
  - any: ['src/api/*']

automation:
  - any: ['.github/workflows/**.yml']

dependencies:
  - package-lock.json

documentation:
  - README.md
