Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

wip: refactor fetcher, not sure if good or useless
  src/pages/fauna-ssg.tsx
Labels: Core

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update treosh/lighthouse-ci-action action to v8
  .github/workflows/lighthouse-on-vercel-preview.yml
Labels: Automation

deps: remove outdated overrides
  package.json
  pnpm-lock.yaml
Labels: Config

ci(github): add faunadb secret env var
  .github/workflows/basics.yml
  .github/workflows/compressed-size.yml
Labels: Automation

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency cypress to v8
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency @next/bundle-analyzer to v11
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.1.7
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update codacy/codacy-analysis-cli-action action to v4
  .github/workflows/codacy-analysis.yml
Labels: Automation

fix(deps): update dependency tailwindcss to v2.2.7
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @testing-library/react to v12
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix(deps): update all non-major dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix: package.json to reduce vulnerabilities
  package.json
Labels: Config

fix: upgrade core-js from 3.16.0 to 3.16.1
  package.json
Labels: Config

fix: package.json to reduce vulnerabilities
  package.json
Labels: Config

ci: try to fix compressed size action
  .github/workflows/compressed-size.yml
Labels: Automation

fix: must use package script
  .github/workflows/compressed-size.yml
  package.json
Labels: Config, Automation

fix(deps): update dependency next to v11.1.1 [security]
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix: upgrade next-pwa from 5.2.24 to 5.3.1
  package.json
Labels: Config

ci: add missing fauna env var for 'load time' job
  .github/workflows/compressed-size.yml
Labels: Automation

ci: increase size limit
  .size-limit.json
Labels: Config

fix(deps): update all non-major dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

fix: linter issues
  src/components/layout/theme-changer.tsx
  src/pages/fauna-csr.tsx
  src/pages/fauna-ssg.tsx
Labels: Core

deps: use latest
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update commitlint monorepo to v13
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency pnpm to v6.14.7
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency pnpm to v6.14.7
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/jest to v27
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency @types/jest to v27
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v35
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v35
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/node to v14.17.15
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency tailwindcss to v2.2.11
  package.json
  pnpm-lock.yaml
Labels: Config
