Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

dx: extend commit types
  commitlint.config.js
Labels: Config

docs: update commit types
  README.md
Labels: Config, Documentation

chore(deps): update dependency pnpm to v6.6.2
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency pnpm to v6.6.2
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.97
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.97
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.99
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.99
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies to v4.26.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies to v4.26.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

deps: pin version of ws to get security fix, remove this later
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

deps: move all types into dev dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

deps: vercel wants node and react types
  package.json
  pnpm-lock.yaml
Labels: Config

deps: react-dom must also be non-dev dep
  package.json
  pnpm-lock.yaml
Labels: Config

deps: what about babel
  package.json
  pnpm-lock.yaml
Labels: Config

deps: babel-runtime is dependency of next, so can skip that
  package.json
  pnpm-lock.yaml
Labels: Config

deps: remove querystring, move start-server into dev deps
  package.json
  pnpm-lock.yaml
Labels: Config

deps: dont explicit require identity-obj-proxy
  package.json
  pnpm-lock.yaml
Labels: Config

deps: move netlify cypress plugin into dev deps
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency sass to v1.34.1
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency sass to v1.34.1
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v33
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-unicorn to v33
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

deps: remove prop-types package
  package.json
  pnpm-lock.yaml
Labels: Config

refactor: don't use prop-types
  src/layouts/account-settings.layout.tsx
  src/layouts/site.layout.tsx
Labels: Core

docs: write down reasons for not using prop-types
  README.md
Labels: Config, Documentation

fix(deps): update dependency next-sitemap to v1.6.102
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.102
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency pnpm to v6.7.1
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency pnpm to v6.7.1
  package.json
  pnpm-lock.yaml
Labels: Config

docs: add vercel deploy status badge
  README.md
Labels: Config, Documentation

chore(deps): update dependency start-server-and-test to v1.12.4
  package.json
  pnpm-lock.yaml
Labels: Config

style: remove lint-staged
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

feat: add git-format-staged to replace lint-staged
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

feat: use git-format-staged to format git staged files with prettier
  .husky/pre-commit
  README.md
Labels: Config, Documentation

chore: go vanilla prettier instead of prettier-standard
  README.md
  package.json
  pnpm-lock.yaml
Labels: Config, Documentation

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
