Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

chore(deps): update dependency eslint-plugin-json-schema-validator to v1.2.22
  package.json
  pnpm-lock.yaml
Labels: Config

style: update deprecated prettier option name
  .prettierrc.json5
  next-env.d.ts
Labels: Config

ui: use html footer element in layout files to be able to apply css
  src/components/layout/footer.tsx
  src/layouts/default.layout.tsx
  src/layouts/legal.layout.tsx
Labels: Core

ui: add pancake-stack layout
  src/layouts/pancake-stack.layout.tsx
Labels: Core

fix: duplicate 'main' element
  src/pages/[dynamic]/index.tsx
  src/pages/hybrid/one.tsx
  src/pages/index.tsx
Labels: Core

dx: update browserslist
  package.json
  pnpm-lock.yaml
Labels: Config

ui: add holy-grail layout
  src/layouts/holy-grail.layout.tsx
Labels: Core

ui: add color-scheme specific theming for non-amp pages
  src/pages/_app.tsx
Labels: Core

ui: make use of holy-grail layout
  src/pages/_app.tsx
  src/styles/global.scss
Labels: Core

fix: remove check that only works on build but not on source
  package.json
Labels: Config

test: update snapshot
  test/pages/__snapshots__/index.test.tsx.snap
Labels: none

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

refactor: remove fauna files, not needed for this project
  src/components/layout/navigation.tsx
  src/pages/fauna-csr.tsx
  src/pages/fauna-ssg.tsx
Labels: Core

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

refactor: remove video from landing page
  src/pages/index.tsx
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Core

refactor: remove search from navigation
  src/components/layout/navigation.tsx
Labels: Core

refactor: rename project to 'notari'
  README.md
  README.template.md
  package.json
  src/config/seo.config.ts
Labels: Config, Core, Documentation

chore(deps): update actions/github-script action to v5
  .github/workflows/auto-create-pr.yml
  .github/workflows/lighthouse-on-vercel-preview.yml
Labels: Automation

wip: continue renaming
  README.md
  src/config/env.config.ts
Labels: Config, Core, Documentation

fix: wrong sentry project name
  netlify.toml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency postcss to v8.3.8
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency postcss to v8.3.8
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency autoprefixer to v10.3.6
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency autoprefixer to v10.3.6
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

style: no useless 'echo'
  .github/workflows/auto-create-pr.yml
Labels: Automation

feat: improve error handling
  next.config.js
  src/pages/_app.tsx
  src/pages/_error.tsx
Labels: Config, Core

chore(deps): update all non-major dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

feat: improve error handling
  next.config.js
  src/pages/_app.tsx
  src/pages/_error.tsx
Labels: Config, Core

style: rule must be disabled for typescript-eslint
  .eslintrc.yml
Labels: Config

style: fix quotes
  src/pages/index.tsx
Labels: Core

style: disable 'ts-eslint/no-restricted-imports' rule, not needed yet
  .eslintrc.yml
Labels: Config

ci: increase load time in check
  .size-limit.json
Labels: Config

style: add config for new linter option
  .eslintrc.yml
Labels: Config

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
