Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

wip: improve sentry configuration
  next.config.js
  sentry.client.config.js
  sentry.server.config.js
  src/config/env.config.ts
Labels: Config, Core

dx: print nextjs config during deployment
  next.config.js
Labels: Config

chore: alternative env configuration to pass sentry params in
  next.config.js
  sentry.client.config.js
Labels: Config

chore: add comment to nextjs typings file
  .eslintignore
  .prettierignore
  next-env.d.ts
Labels: Config

wip: merge sentry config with next config
  _next.config.js
  next.config.js
Labels: Config

ci: netlify don't check links for sourcemap files
  netlify.toml
Labels: Config

deps(monitoring): install sentry plugin for nextjs
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency webpack to v5.42.0
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

fix(deps): pin dependency @sentry/nextjs to 6.8.0
  package.json
  pnpm-lock.yaml
Labels: Config

docs: minor additions
  README.md
Labels: Config, Documentation

Revert "wip: move sentry config into env file"
  sentry.properties
Labels: Config

chore: change env var handling for sentry
  README.md
  netlify.toml
  next.config.js
  sentry.properties
Labels: Config, Documentation

feat: add react-icons
  package.json
  pnpm-lock.yaml
Labels: Config

refactor: dedicated menu items
  src/components/layout/menu-item.tsx
  src/components/layout/navigation.tsx
Labels: Core

ui: use icon from reactsvgicons
  .eslintrc.yml
  src/components/icons/HeartIcon.tsx
  src/components/layout/navigation.tsx
Labels: Config, Core

wip: lint new code
  src/components/article.tsx
  src/components/layout/menu-item.tsx
  src/components/layout/navigation.tsx
Labels: Core

wip: an article component to test typescript and propTypes
  src/components/article.tsx
Labels: Core

fix: rename file to camel case
  src/components/icons/HeartIcon.tsx
  src/components/icons/heart-icon.tsx
Labels: Core

feat: use icons in global navigation
  src/components/layout/navigation.tsx
  src/styles/global.scss
Labels: Core

feat: do not use react-icons, breaks with preact
  src/components/layout/menu-item.tsx
  src/components/layout/navigation.tsx
Labels: Core

chore: remove article, not used, not helpful as I won't use propTypes
  src/components/article.tsx
Labels: Core

fix: linter issues
  netlify.toml
  src/components/icons/heart-icon.tsx
  src/components/layout/menu-item.tsx
Labels: Config, Core

chore: remove react-icons lib
  package.json
  pnpm-lock.yaml
Labels: Config

chore: some cleanup
  .eslintrc.yml
  src/components/layout/menu-item.tsx
  src/components/layout/navigation.tsx
Labels: Config, Core

chore: sync core.js in babel config
  babel.config.js
Labels: Config

ui: add more items to the menu
  next-env.d.ts
  src/components/layout/navigation.tsx
Labels: Config, Core

chore(ci): ignore hybrid pages when link checking
  netlify.toml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

docs: add sentry dashboard
  README.md
Labels: Config, Documentation

docs: mention other hosting services
  README.md
Labels: Config, Documentation

ci: update size action
  .github/workflows/compressed-size.yml
Labels: Automation

chore(deps): update all non-major dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

docs: mention interesting new tech
  README.md
Labels: Config, Documentation

style: fix linter issues
  .eslintrc.yml
  .prettierignore
  netlify.toml
  test/test-utils.ts
Labels: Config

docs: some cleanup
  .prettierrc.json5
  README.md
Labels: Config, Documentation

ci: disable cache in size check action
  .github/workflows/compressed-size.yml
Labels: Automation
