Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql

style(unicorn): fix numeric separator style
  cypress/integration/examples/cypress-api.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/spies-stubs-clocks.spec.js
Labels: none

test(coverage): improve matched files
  .nycrc.json
  package.json
Labels: Config

ux: add nicer error message
  src/pages/404.tsx
Labels: Core

style: align rules for no-unused-vars
  .eslintrc.yml
Labels: Config

style: linter had some new ideas
  .eslintrc.yml
  next-sitemap.js
  next.config.js
  src/components/byline.tsx
  src/components/layout/navigation.tsx
  src/config/env.config.ts
  src/layouts/account-settings.layout.js
  src/layouts/default.layout.tsx
  src/layouts/inline.layout.tsx
  src/layouts/legal.layout.tsx
  src/pages/404.tsx
  src/pages/[dynamic]/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/hybrid/[...fragments].tsx
  src/pages/hybrid/post/[id].tsx
  src/pages/index.tsx
  src/pages/legal/index.tsx
  src/typings/layout.d.ts
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Config, Core

fix(deps): update dependency start-server-and-test to v1.12.3
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency start-server-and-test to v1.12.3
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency ts-node to v10
  package.json
  pnpm-lock.yaml
Labels: Config

test(a11y): cleanup axe helper
  src/components/helper/axe.tsx
Labels: Core

build: use incremental type checking
  tsconfig.json
Labels: Config

build(next.js): add some checking and experimental option
  next.config.js
Labels: Config

ci: add synchronize event to size action
  .github/workflows/compressed-size.yml
Labels: Automation

deps: move relative-ci out of dev deps, because netlify
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/node to v14.17.1
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/node to v14.17.1
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.78
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.78
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update github/super-linter action to v4
  .github/workflows/linter.yml
Labels: Automation

fix(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/react to v17.0.8
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/react to v17.0.8
  package.json
  pnpm-lock.yaml
Labels: Config

chore: remove type keyword from import
  src/pages/_app.tsx
Labels: Core

fix(deps): update dependency next-sitemap to v1.6.95
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v1.6.95
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency autoprefixer to v10.2.6
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency autoprefixer to v10.2.6
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency typescript to v4.3.2
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency typescript to v4.3.2
  package.json
  pnpm-lock.yaml
Labels: Config

fix: react imports
  src/pages/[dynamic]/index.tsx
  test/pages/index.test.tsx
Labels: Core

docs: mention video about responsiveness
  README.md
Labels: Config, Documentation

docs: update pnpm @ vercel info
  README.md
Labels: Config, Documentation

chore: some strange linter complains, codacy
  README.md
Labels: Config, Documentation

feat(deps): add next-sanity plugin for sanity cms
  package.json
  pnpm-lock.yaml
Labels: Config
