Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

chore(deps): update dependency eslint-plugin-unicorn to v42
  package.json
  pnpm-lock.yaml
Labels: Config

fix: latest pnpm is now called 'next-7'
  .github/workflows/basics.yml
  .github/workflows/compressed-size.yml
  .github/workflows/eslint.yml
Labels: Automation

fix: overwrite should not be needed anymore
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency husky to v8
  package.json
  pnpm-lock.yaml
Labels: Config

fix: for the 100th time ejs overwrite
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update next
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update development non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

fix: updating snapshot test
  .husky/commit-msg
  commitlint.config.js
  test/pages/__snapshots__/index.test.tsx.snap
Labels: Config

chore(deps): update linters
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update node.js to v16.15.1
  .nvmrc
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update test packages
  package.json
Labels: Config

chore(deps): update linters
  .npmrc
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency html-validate to v7
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update production non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

style: relax html id validation to allow jsx ids with leading underscores
  .htmlvalidate.json
Labels: Config

deps: re-add accidentally deleted linter dependency
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update github/codeql-action action to v2
  .github/workflows/codacy-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/njsscan-analysis.yml
  .github/workflows/shiftleft-analysis.yml
Labels: Automation

style: disable json-schema-validator eslint plugin, is broken atm
  .eslintrc.yml
Labels: Config

fix: use another idiom from my linters
  src/pages/_app.tsx
  src/pages/hybrid/one.tsx
Labels: Core

deps: minor updates
  pnpm-lock.yaml
Labels: Config

chore(deps): update commitlint monorepo to v17
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency prettier to v2.7.0
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update test packages to v28
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency stylelint-config-standard to v26
  package.json
  pnpm-lock.yaml
Labels: Config

Updated badges and [skip actions]
  README.md
Labels: Config, Documentation

chore(deps): update dependency stylelint-config-standard-scss to v4
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency tailwindcss to v3.1.3
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update linters to v3
  package.json
  pnpm-lock.yaml
Labels: Config

style: use my own file for textlint fixes
  .textlintrc.yml
  terms.jsonc
Labels: Config

test: jest now needs this dependency explicit
  package.json
  pnpm-lock.yaml
Labels: Config

style: disable default terms for textlint
  .textlintrc.yml
Labels: Config

fix(deps): update dependency tailwindcss to v3.1.3
  package.json
  pnpm-lock.yaml
Labels: Config

chore(deps): update dependency eslint-plugin-react-hooks to v4.6.0
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-seo to v5
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency @types/react to v18
  package.json
  pnpm-lock.yaml
Labels: Config

fix(deps): update dependency next-sitemap to v2
  package.json
  pnpm-lock.yaml
Labels: Config

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
