Repository einSelbst/overnext, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Test, Core, Style, API, Automation, Dependencies, Documentation, DB

style: remove mark-css, will use npm module
  src/pages/_app.tsx
Labels: Core

docs: update principles
  README.md
Labels: Config, Documentation

ci: new attempt to improve the PR title
  .github/workflows/auto-create-pr.yml
Labels: Automation

ci: run labeler based on issue comments
  .github/workflows/labeler.yml
Labels: Automation

style: don't html validate amp pages
  .htmlvalidateignore
Labels: Config

feat: add example image in hybrid page
  .eslintrc.yml
  global.d.ts
  src/pages/dog.tsx
  tsconfig.json
Labels: Config, Core

ci: upload global.d.ts to vercel
  .vercelignore
Labels: Config

ci(audit): improve and move size-limit config into dedicated file
  .size-limit.json
  package.json
Labels: Config

docs: add note regarding size-limit action/script
  .github/workflows/compressed-size.yml
  README.md
  package.json
Labels: Config, Automation, Documentation

style: use number to shorten line and hope it makes ci check pass
  .eslintrc.yml
Labels: Config

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Labels: Config

ci: disable alternative yelp-detect-secrets action, add trigger pr review
  .github/workflows/detect-secrets.yml
Labels: Automation

ci: add missing 'runs-on' to labeler action
  .github/workflows/labeler.yml
Labels: Automation

ci: run labeler action also on issue comment
  .github/workflows/create-card.yml
  .github/workflows/labeler.yml
Labels: Automation

ci: fix syntax for 'on' trigger
  .github/workflows/detect-secrets.yml
Labels: Automation

fix: syntax for shiftleft config
  .sastscanrc
Labels: Config

ci(size-limit): remove a few checks
  .size-limit.json
Labels: Config

ci(auto-create-pr): improve branch naming
  .github/workflows/auto-create-pr.yml
Labels: Automation

ci(debug-action): remove flaky logs
  .github/workflows/check-triggers.yml
Labels: Automation

ci(labeler): fix invalid job name
  .github/workflows/labeler.yml
Labels: Automation

ci(detect-secrets): parallelise jobs
  .github/workflows/detect-secrets.yml
Labels: Automation

fix: typo in PR message
  .github/workflows/auto-create-pr.yml
Labels: Automation

chore(deps): update actions/checkout action to v2
  .github/workflows/labeler.yml
Labels: Automation

ci: add new trigger for basic action
  .github/workflows/basics.yml
Labels: Automation

ci: refactor/parallelize size/time action
  .github/workflows/compressed-size.yml
Labels: Automation

ci: fix missing need i action
  .github/workflows/compressed-size.yml
  .github/workflows/create-card.yml
Labels: Automation

fix: action
  .github/workflows/compressed-size.yml
Labels: Automation

ci: shiftleft scan ignore build directory
  .sastscanrc
Labels: Config

ci: change trigger for project card creation
  .github/workflows/create-card.yml
Labels: Automation

ci: add missing code checkout for size/time jobs
  .github/workflows/compressed-size.yml
Labels: Automation

chore: use typescript config file for jest
  jest.config.ts
Labels: Config

ci: dont check for inline style on netlify html validation
  .htmlvalidate.netlify.json
  netlify.toml
Labels: Config

Revert "chore: use typescript config file for jest"
  jest.config.js
Labels: Config

chore: minor changes to tsconfig
  tsconfig.json
Labels: Config

ci: remove condition from card action
  .github/workflows/create-card.yml
Labels: Automation

ci: revert size/time action
  .github/workflows/compressed-size.yml
Labels: Automation

ci: split size/time jobs again
  .github/workflows/compressed-size.yml
Labels: Automation

ci: update trigger for actions
  .github/workflows/basics.yml
  .github/workflows/labeler.yml
Labels: Automation

ci: update action triggers 2
  .github/workflows/create-card.yml
  .github/workflows/labeler.yml
Labels: Automation

Revert "ci: split size/time jobs again"
  .github/workflows/compressed-size.yml
Labels: Automation

.github/labeler.yml:

# Add 'config' label to any root file changes
Config:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
Test:
  - any: ['src/**/*.test.js', 'cypress/integration/**/*.spec.js']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
Core:
  - any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
Frontend:
  - any: ['src/**/*.ts']
    all: ['!src/index.ts']

Style:
  - any: ['src/**/*.css']

API:
  - any: ['src/pages/api/*']

Automation:
  - any: ['.github/workflows/**.yml']

Dependencies:
  - any: ['package-lock.json', 'yarn.lock']

Documentation:
  - ./*.md

DB:
  - data/**/*.sql
